{{ header }}
<div id="account-account" class="container">
	<ul class="breadcrumb">
		{% for i,breadcrumb in breadcrumbs %}
			{% if (i+1 < breadcrumbs|length) %}
				<li><a href="{{ breadcrumb.href }}"><span>{{ breadcrumb.text }}</span></a></li>
			{% else %}
				<li><span>{{ breadcrumb.text }}</span></li>
			{% endif %}
		{% endfor %}
	</ul>
	<h1>{{ text_my_account }}</h1>
	{% if success %}
		<div class="alert ch-alert-success">
			<img class="success-icon" alt="success-icon" src="catalog/view/theme/upstore/image/success-icon.svg">
			<div class="text-modal-block">{{ success }}</div>
			<button type="button" class="close" data-dismiss="alert"><i class="up-icon-close" aria-hidden="true"></i></button>
		</div>
	{% endif %}
  	<div class="row-flex">{{ column_left }}
		{% if column_left and column_right %}
		{% set class = 'col-md-6' %}
		{% elseif column_left or column_right %}
		{% set class = 'col-md-9' %}
		{% else %}
		{% set class = 'col-md-12' %}
		{% endif %}
	 <div id="content" class="{{ class }}">{{ content_top }}
	 	<div class="chm-account-content h-100">
	 		<div class="chm-content-title">{{ order_list_title }}</div>
	 		{% if orders %}
	 			<div class="table-responsive">
	 				<table class="table ch-table">
	 					<thead>
	 						<tr>
	 							<td class="text-left">{{ column_order_id }}</td>
	 							<td class="text-left">{{ column_customer }}</td>
	 							<td class="text-right">{{ column_product }}</td>
	 							<td class="text-left">{{ column_status }}</td>
	 							<td class="text-right">{{ column_total }}</td>
	 							<td class="text-right">{{ column_date_added }}</td>
	 							<td></td>
	 						</tr>
	 					</thead>
	 					<tbody>
	 						{% for order in orders %}
	 							<tr>
	 								<td class="text-left"><a href="{{ order.view }}">#{{ order.order_id }}</a></td>
	 								<td class="text-left">{{ order.name }}</td>
	 								<td class="text-right">{{ order.products }}</td>
	 								<td class="text-left">{{ order.status }}</td>
	 								<td class="text-right"><b>{{ order.total }}</b></td>
	 								<td class="text-right">{{ order.date_added }}</td>
	 							</tr>
	 						{% endfor %}
	 					</tbody>
	 				</table>
	 			</div>
	 			<div class="row">
	 				<div class="col-sm-6 text-left">{{ pagination }}</div>
	 				<div class="col-sm-6 text-right">{{ results }}</div>
	 			</div>
	 		{% else %}
	 			<div class="chm-text-empty">{{ text_empty }}</div>
	 		{% endif %}
	 	</div>
	{{ content_bottom }}</div>
	{{ column_right }}</div>
</div>
{{ footer }}