<div class="checkout-related-products">
    {% if title_related_products %}
    <div class="checkout-heading">{{ title_related_products }}</div>
    {% endif %}
    <div class="opc-related-products">
        <div class="swiper swiper-module carousel_related_prodcuts">
        <div class="swiper-scrollbar carousel-related-scrollbar"></div>
        <div class="swiper-wrapper">
            {% for product in products %}
                <div class="related-item swiper-slide h-auto">
                    <div class="product-thumb dflex flex-column h-100">
                        <div class="image">
                            <a href="{{ product.href }}">
                                <img class="img-responsive" decoding="async" width="{{ image_width }}" height="{{ image_height }}" loading="lazy" src="{{ product.thumb }}" alt="{{ product.name }}" />
                            </a>
                        </div>
                        <div class="caption dflex flex-column flex-grow-1">
                            <div class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></div>
                            <div class="cart-detail">
                                {% if product.price %}
                                <div class="price">
                                    {% if not product.special %}
                                    {{ product.price }}
                                    {% else %}
                                    <span class="price-old">{{ product.price }}</span>
                                    <span class="price-new">{{ product.special }}</span>
                                    {% endif %}
                                    {% if product.tax %}
                                    <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                                    {% endif %}
                                </div>
                                {% endif %}
                                <button class="btn btn-add-to-cart" type="button" data-toggle="tooltip" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>
    </div>
</div>
