{{ header }}
<div class="container">
	<div class="breadcrumb-box">
		<ul class="breadcrumb">
			{% for i, breadcrumb in breadcrumbs %}
				<li>
					<a href="{{ breadcrumb.href }}"><span>{{ breadcrumb.text }}</span></a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<h1>{{ heading_title }}</h1>
			{# === Макрос для вывода подкатегорий === #}
			{% macro render_subcategories(categories, sub_category_type, subcategories_row_limit, sub_category_type_bg, show_subcategories_image, ns_subcat_width, ns_subcat_height) %}
				{% if categories and sub_category_type is not empty %}
					<div class="{% if sub_category_type == 'slider' %}sub-categories{% else %}box-sub-cat row{% endif %}">
						{% if sub_category_type == 'slider' %}
							<div class="swiper swiper-module swiper-sub-category">
								<div class="swiper-sub-category__navigation type_arrow_{{ sub_category_type_bg }}">
									<div class="swiper-sub-category__arrow swiper-sub-category__arrow_prev swiper-button-disabled"><i class="up-icon-arrow-left" aria-hidden="true"></i></div>
									<div class="swiper-sub-category__arrow swiper-sub-category__arrow_next"><i class="up-icon-arrow-right" aria-hidden="true"></i></div>
								</div>
								<div class="swiper-wrapper">
								{% endif %}
								{% for category in categories %}
									{% set item_class = sub_category_type == 'slider' ? 'swiper-slide text-center swiper-sub-category__item h-auto item-subc' : 'item-subc col-sm-6 col-md-3 col-lg-' ~ subcategories_row_limit %}
									<div class="{{ item_class }}">
										<a class="subcategory {{ sub_category_type_bg }}" href="{{ category.href }}">
											{% if show_subcategories_image == 1 and category.thumb %}
												<div class="sc-image"><img loading="lazy" width="{{ ns_subcat_width }}" height="{{ ns_subcat_height }}" class="img-responsive" alt="{{ category.name }}" src="{{ category.thumb }}"></div>
											{% endif %}
											<div class="sc-name">{{ category.name }}</div>
										</a>
									</div>
								{% endfor %}
								{% if sub_category_type == 'slider' %}
								</div>
							</div>
						{% endif %}
					</div>
				{% endif %}
			{% endmacro %}
			{# Импорт макроса #}
			{% import _self as sub_cat_macros %}

			{# Вывод подкатегорий TOP #}
			{% if categories and show_subcategories == 1 and sub_category_position == 'top' %}
				{{ sub_cat_macros.render_subcategories(categories, sub_category_type, subcategories_row_limit, sub_category_type_bg, show_subcategories_image, ns_subcat_width, ns_subcat_height) }}
			{% endif %}
		</div>
		{{ column_left }}

		{# Логика классов колонок #}
		{% set is_both = column_left and column_right %}
		{% set is_one = column_left or column_right %}

		{% set class = is_both ? 'col-md-6' : (is_one ? 'col-md-9' : 'col-md-12') %}

		{% set cols_class = 'col-xs-12' %}
		{% if display_view == 'grid' %}
			{% set cols_class = is_both ? 'col-lg-6 col-md-6 col-sm-12 col-xs-6' : (is_one ? 'col-lg-4 col-md-4 col-sm-6 col-xs-6' : 'col-lg-3 col-md-3 col-sm-6 col-xs-6 col-lg-1-5') %}
		{% endif %}

		<div id="content" class="{{ class }} ns-smv">
			{{ content_top }}

			{# Описание категории (до списка товаров, если не сброшено) #}
			{% if config_catalog_category_description_dropped != 1 and (thumb or description) %}
				<div class="category_description psbt">
					{% if thumb %}
						<div class="psfl-l"><img loading="lazy" width="{{ thumb_width }}" height="{{ thumb_height }}" src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
					{% endif %}
					{% if description %}
						<div class="p-content">{{ description }}</div>
					{% endif %}
				</div>
			{% endif %}

			{# Вывод подкатегорий RIGHT #}
			{% if categories and show_subcategories == 1 and sub_category_position == 'right' %}
				{{ sub_cat_macros.render_subcategories(categories, sub_category_type, subcategories_row_limit, sub_category_type_bg, show_subcategories_image, ns_subcat_width, ns_subcat_height) }}
			{% endif %}

			{% if products %}
				{# Блок сортировки/лимита/вида отображения #}
				{% set show_view_box = us_setting_pages.status_limit == 1 or us_setting_pages.status_sort == 1 or us_setting_pages.show_display_view == 1 %}
				{% if show_view_box %}
					<div class="view-box">
						<div class="row">
							<div class="col-xs-12 col-sm-12 localstorage dflex align-items-center justify-content-between">
								<div class="ch-limit-sorts dflex">
									{# Лимит #}
									{% if us_setting_pages.status_limit == 1 %}
										<div class="btn-group{% if us_setting_pages.sort_display_mode == 'inline' %} md-border-radius{% endif %}">
											<button type="button" class="btn btn-sort-limit dropdown-toggle" data-toggle="dropdown" title="{{ text_limit }}">
												{% for limit_active in limits if limit_active.value == limit %}{{ limit_active.text }}{% endfor %}
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5"><path fill="currentColor" fill-rule="evenodd" d="M3.174 2.856a.5.5 0 00.707-.004L6.144.562a.5.5 0 01.712.704L4.592 3.555a1.5 1.5 0 01-2.121.012L.148 1.27A.5.5 0 11.852.559l2.322 2.297z" clip-rule="evenodd"></path></svg>
											</button>
											<ul class="dropdown-menu ddm-limit ch-dropdown dropdown-menu-left">
												{% for limit_item in limits %}
													<li{% if limit_item.value == limit %} class="active"{% endif %}><button class="btn-limit-link" onclick="location.href='{{ limit_item.href }}'">{{ limit_item.text }}</button></li>
												{% endfor %}
											</ul>
										</div>
									{% endif %}
									{# Сортировка #}
									{% if us_setting_pages.status_sort == 1 %}
										<div class="btn-group d-inline-flex align-items-center">
											<button type="button" class="btn btn-sort-limit dropdown-toggle{% if us_setting_pages.sort_display_mode == 'inline' %} hidden-md hidden-lg{% endif %}" data-toggle="dropdown">
												{% set current_sort = sort ~ '-' ~ order %}
												{% for sort_active in sorts if sort_active.value == current_sort %}{{ sort_active.text }}{% endfor %}
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5"><path fill="currentColor" fill-rule="evenodd" d="M3.174 2.856a.5.5 0 00.707-.004L6.144.562a.5.5 0 01.712.704L4.592 3.555a1.5 1.5 0 01-2.121.012L.148 1.27A.5.5 0 11.852.559l2.322 2.297z" clip-rule="evenodd"></path></svg>
											</button>
											{% if us_setting_pages.sort_display_mode == 'inline' %}
												<div class="us-category-sort-title">{{ text_sort }}</div>
											{% endif %}
											<ul class="dropdown-menu ddm-sort dropdown-menu-left ch-dropdown {% if us_setting_pages.sort_display_mode == 'inline' %}ddm-sort-list-pc{% endif %}">
												{% for sort_item in sorts %}
													<li{% if sort_item.value == current_sort %} class="active"{% endif %}><button class="btn-sort-link" onclick="location.href='{{ sort_item.href }}'">{{ sort_item.text }}</button></li>
												{% endfor %}
											</ul>
										</div>
									{% endif %}
								</div>
								{# Filter Button #}
								<button type="button" id="filter-toggle-btn" class="btn btn-view active" data-toggle="modal" data-target="#filterModal" title="Filter">
								Filter
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M22 3H2l8 9.46V19l4 2v-8.54L22 3z"/></svg>
								</button>
								{# Вид отображения #}
								{% if us_setting_pages.show_display_view == 1 %}
									<div class="btn-group dflex localstorage product_list_toolbar">
										{% set views = [
											{id: 'grid', label: 'Grid View', icon_path: 'M6.5 1H2a1 1 0 00-1 1v4.5a1 1 0 001 1h4.5a1 1 0 001-1V2a1 1 0 00-1-1zM16 1h-4.5a1 1 0 00-1 1v4.5a1 1 0 001 1H16a1 1 0 001-1V2a1 1 0 00-1-1zM6.5 10.5H2a1 1 0 00-1 1V16a1 1 0 001 1h4.5a1 1 0 001-1v-4.5a1 1 0 00-1-1zM16 10.5h-4.5a1 1 0 00-1 1V16a1 1 0 001 1H16a1 1 0 001-1v-4.5a1 1 0 00-1-1z', title: button_grid},
											{id: 'list', label: 'List View', icon_path: 'M4.8 1H1.2a.2.2 0 00-.2.2v3.029c0 .11.09.2.2.2h3.6a.2.2 0 00.2-.2V1.2a.2.2 0 00-.2-.2zM16.8 1H8.2a.2.2 0 00-.2.2v3.029c0 .11.09.2.2.2h8.6a.2.2 0 00.2-.2V1.2a.2.2 0 00-.2-.2zM4.8 7.286H1.2a.2.2 0 00-.2.2v3.028c0 .11.09.2.2.2h3.6a.2.2 0 00.2-.2V7.486a.2.2 0 00-.2-.2zM16.8 7.286H8.2a.2.2 0 00-.2.2v3.028c0 .11.09.2.2.2h8.6a.2.2 0 00.2-.2V7.486a.2.2 0 00-.2-.2zM4.8 13.571H1.2a.2.2 0 00-.2.2V16.8c0 .11.09.2.2.2h3.6a.2.2 0 00.2-.2v-3.029a.2.2 0 00-.2-.2zM16.8 13.571H8.2a.2.2 0 00-.2.2V16.8c0 .11.09.2.2.2h8.6a.2.2 0 00.2-.2v-3.029a.2.2 0 00-.2-.2z', title: button_list},
											{id: 'price', label: 'Price View', icon_path: 'M16.8 1H1.2a.2.2 0 00-.2.2v3.029c0 .11.09.2.2.2h15.6a.2.2 0 00.2-.2V1.2a.2.2 0 00-.2-.2zM16.8 7.286H1.2a.2.2 0 00-.2.2v3.028c0 .11.09.2.2.2h15.6a.2.2 0 00.2-.2V7.486a.2.2 0 00-.2-.2zM1 16.8v-3.029c0-.11.09-.2.2-.2h15.6c.11 0 .2.09.2.2V16.8a.2.2 0 01-.2.2H1.2a.2.2 0 01-.2-.2z', title: button_price, is_price: true},
										] %}

										{% for view in views %}
											{% set price_cond = view.is_price is defined and us_setting_pages.status_price_list_view == 1 %}
											{% if not view.is_price or price_cond %}
												{% set price_class = view.is_price ? ' visible-lg' : '' %}
												<button aria-label="{{ view.label }}" type="button" id="{{ view.id }}-view" class="btn btn-view{% if display_view == view.id %} active{% endif %}{{ price_class }}" data-toggle="tooltip" title="{{ view.title }}">
													<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"><path stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="{{ view.icon_path }}"/></svg>
												</button>
											{% endif %}
										{% endfor %}
										<div class="indicator-active"></div>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% endif %}
				
				<div class="row-flex category-page{% if not bg_image %} no_bg_image{% endif %}">
					{% for product in products %}
						<div class="product-layout product-{{ display_view }} {{ cols_class }}">
							<div class="product-thumb dflex flex-column h-100{% if bg_image %} bg_image{% endif %}{% if show_attr_cpage == 1 and product.attribute_groups is not empty %} top-r{% endif %}">
								<div class="image">
									{# Стикеры #}
									<div class="stickers-ns">
										{% if on_off_sticker_special == '1' and product.special %}
											<div class="sticker-ns special">{% if config_change_icon_sticker_special is not empty %}<i class="fa {{ config_change_icon_sticker_special }}"></i>{% endif %}{{ text_sticker_special[lang_id].config_change_text_sticker_special }}</div>
										{% endif %}
										{% if on_off_percent_discount == '1' and product.special %}<span class="sticker-ns special">{{ product.skidka }} %</span>{% endif %}
										{% if on_off_sticker_topbestseller == '1' and product.top_bestsellers >= config_limit_order_product_topbestseller %}
											<div class="sticker-ns bestseller">{% if config_change_icon_sticker_topbestseller is not empty %}<i class="fa {{ config_change_icon_sticker_topbestseller }}"></i>{% endif %}{{ text_sticker_topbestseller[lang_id].config_change_text_sticker_topbestseller }}</div>
										{% endif %}
										{% if on_off_sticker_popular == '1' and product.viewed>=config_min_quantity_popular %}
											<div class="sticker-ns popular">{% if config_change_icon_sticker_popular is not empty %}<i class="fa {{ config_change_icon_sticker_popular }}"></i>{% endif %}{{ text_sticker_popular[lang_id].config_change_text_sticker_popular }}</div>
										{% endif %}
										{% if on_off_sticker_newproduct == '1' and product.sticker_new_prod %}
											<div class="sticker-ns newproduct">{% if config_change_icon_sticker_newproduct is not empty %}<i class="fa {{ config_change_icon_sticker_newproduct }}"></i>{% endif %}{{ text_sticker_newproduct[lang_id].config_change_text_sticker_newproduct }}</div>
										{% endif %}
									</div>
									
									{# PRO Стикеры #}
									{% if product.pro_sticker.status and product.pro_sticker.items is not empty %}
										<div class="pro_sticker {% if product.pro_sticker.hide_hover %}hide-hover{% endif %}">
											{% for position, stickers in product.pro_sticker.items %}
												<div class="pro_sticker__position {{ position }}">
													{% for sticker in stickers %}
														<div class="pro_sticker__item pro_sticker__{{ sticker.type }}">
															{% if sticker.type == 'image' %}
																<img loading="lazy" decoding="async" width="{{ sticker.width }}" height="{{ sticker.height }}" class="img-responsive" src="{{ sticker.image }}" alt="">
															{% else %}
																<span style="color:#{{ sticker.color }};background:#{{ sticker.bg }}">{{ sticker.text }}</span>
															{% endif %}
														</div>
													{% endfor %}
												</div>
											{% endfor %}
										</div>
									{% endif %}
									
									{# Изображение #}
									<a {% if product.image_hm is not empty %}class="gallery-images"{% endif %} href="{{ product.href }}">
										<img class="img-responsive{% if product.image_hm is not empty %} ch-g-image active-image{% endif %}" {% if product.image_h %}data-additional-hover="{{ product.image_h }}"{% endif %} decoding="async" width="{{ product.width }}" height="{{ product.height }}" loading="lazy" src="{{ product.thumb }}" alt="{{ product.name }}" />
										{% if product.image_hm is not empty %}
											<div class="ch-g-items">
												{% for dop_image in product.image_hm %}
													<img class="ch-g-image img-responsive" decoding="async" width="{{ product.width }}" height="{{ product.height }}" loading="lazy" data-src="{{ dop_image }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="{{ product.name }}" />
												{% endfor %}
											</div>
											<div class="ch-g-dots">
												<div class="ch-g-line active-line"></div>
												{% for _ in product.image_hm %}<div class="ch-g-line"></div>{% endfor %}
											</div>
										{% endif %}
									</a>
									
									{# Таймер акции #}
									{% if show_special_timer_page == '1' and product.special %}
										<div class="action-timer" data-date-end="{{ product.date_end }}"></div>
									{% endif %}
								</div>
								
								<div class="caption dflex flex-column flex-grow-1">
									<div class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></div>
									
									{# PRO Стикеры блок #}
									{% if product.pro_sticker and product.pro_sticker.status and product.pro_sticker.block is not empty %}
										<div class="pro_sticker_block">
											{% for sticker in product.pro_sticker.block %}
												<div class="pro_sticker_block__item pro_sticker_block__{{ sticker.type }}{% if sticker.popover %} pro_sticker_popover{% endif %}"
												{% if sticker.popover %}data-toggle="popover" data-content="{{ sticker.popover }}"{% endif %}>
													{% if sticker.type == 'image' %}
														<img loading="lazy" decoding="async" width="{{ sticker.width }}" height="{{ sticker.height }}" class="img-responsive" src="{{ sticker.image }}" alt="">
													{% else %}
														<span style="color:#{{ sticker.color }};background:#{{ sticker.bg }}">{{ sticker.text }}</span>
													{% endif %}
												</div>
											{% endfor %}
										</div>
									{% endif %}
									
									{# Рейтинг и отзывы #}
									{% if us_setting_pages.status_rating == 1 %}
										<div class="rating mb-10 d-flex align-items-center">
											<div class="rating-stars d-flex align-items-center">
												{% for star_width in product.rating_stars %}
													<div class="rating-star up-icon"><div class="rating-star-active up-icon" style="width:{{ star_width }}%"></div></div>
												{% endfor %}
											</div>
											{% if us_setting_pages.status_quantity_reviews == 1 %}
												<div class="product-reviews d-flex align-items-center">
													<i class="up-icon-18 up-icon-message" aria-hidden="true"></i>
													{% if product.reviews > 0 %}
														<span class="total-reviews d-flex align-items-center justify-content-center">{{ product.reviews }}</span>
													{% endif %}
												</div>
											{% endif %}
										</div>
									{% endif %}
									
									{# Модель (Код товара) #}
									{% if us_setting_pages.status_model == 1 or show_stock_status %}
										<div class="product_model_sstatus mb-10 justify-content-between dflex">
											{% if us_setting_pages.status_model == 1 %}
												<div class="product-model">{{ text_model }}{{ product.model }}</div>
											{% endif %}
										</div>
									{% endif %}
									
									{# ДОПОЛНИТЕЛЬНЫЕ ДЕЙСТВИЯ (Quickview, Fastorder, Compare, Wishlist) - ПЕРЕМЕЩЕНЫ СЮДА и СДЕЛАНЫ ГОРИЗОНТАЛЬНЫМИ #}
									<div class="addit-action dflex mb-10"> 
										{% if config_on_off_category_page_quickview == '1' %}
											<div class="quickview">
												<button aria-label="Quickview" class="btn btn-quickview" title="{{ config_quickview_btn_name[lang_id]['config_quickview_btn_name'] }}" onclick="quickview_open({{ product.product_id }});"><i class="up-icon-quickview" aria-hidden="true"></i></button>
											</div>
										{% endif %}
										{% if us_setting_pages.status_fastorder == 1 and product.show_buy_button %}
											{% set fastorder_disabled = disable_fastorder_button and product.product_quantity <= 0 %}
											{% if (not disable_fastorder_button) or (disable_fastorder_button and product.product_quantity > 0) %}
												<div class="quick-order">
													<button aria-label="Fastorder" class="btn btn-fastorder" title="{{ config_text_open_form_send_order[lang_id]['config_text_open_form_send_order'] }}" type="button" onclick="fastorder_open({{ product.product_id }});" {% if fastorder_disabled %}disabled{% endif %}><i class="up-icon-fastorder" aria-hidden="true"></i></button>
												</div>
											{% endif %}
										{% endif %}
										{% if us_setting_pages.status_compare == 1 %}
											<div class="compare">
												<button aria-label="Compare" class="btn btn-compare" type="button" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="up-icon-compare" aria-hidden="true"></i></button>
											</div>
										{% endif %}
										{% if us_setting_pages.status_wishlist == 1 %}
											<div class="wishlist">
												<button aria-label="Wishlist" class="btn btn-wishlist" type="button" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="up-icon-wishlist" aria-hidden="true"></i></button>
											</div>
										{% endif %}
									</div>
									{# КОНЕЦ ПЕРЕМЕЩЕННОГО БЛОКА #}
									
									{# Описание #}
									{% if us_setting_pages.status_description == 1 %}
										<div class="product-description">{{ product.description }}</div>
									{% endif %}
									
									{# Цена и кнопки действия #}
									<div class="price-actions-box dflex flex-wrap mt-auto">
										{# Ввод количества #}
										{% if product.price and config_additional_settings_upstore.quantity_btn_page == '1' and product.show_buy_button %}
											<div class="quantity_plus_minus">
												<span class="add-up add-action">
													<svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5"><path fill="#000" fill-rule="evenodd" d="M3.826 2.144a.5.5 0 00-.707.004L.856 4.438a.5.5 0 01-.712-.704l2.264-2.289a1.5 1.5 0 012.121-.012L6.852 3.73a.5.5 0 11-.704.711L3.826 2.144z" clip-rule="evenodd"/></svg>
												</span>
												<input type="text" class="quantity-num form-control" name="quantity" value="{{ product.minimum }}" data-minimum="{{ product.minimum }}" {% if config_additional_settings_upstore.quantity_multiple == '1' and product.minimum > 1 %}disabled{% endif %}>
												<span class="add-down add-action">
													<svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5"><path fill="#000" fill-rule="evenodd" d="M3.174 2.856a.5.5 0 00.707-.004L6.144.562a.5.5 0 01.712.704L4.592 3.555a1.5 1.5 0 01-2.121.012L.148 1.27A.5.5 0 11.852.559l2.322 2.297z" clip-rule="evenodd"/></svg>
												</span>
											</div>
										{% endif %}
										
										{# Цена #}
										{% if product.price %}
											<div class="price" data-price-value="{{ product.price_value }}" data-special-value="{{ product.special_value }}">
												{% if not product.special %}
													<span class="price_value">{{ product.price }}</span>
												{% else %}
													<span class="price-old"><span class="price_value">{{ product.price }}</span></span>
													<span class="price-new"><span class="special_value">{{ product.special }}</span></span>
												{% endif %}
												{% if product.tax %}
													<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
												{% endif %}
											</div>
										{% endif %}
										
										{# Кнопка КУПИТЬ / УВЕДОМИТЬ #}
										<div class="cart">
											{% set is_disabled = product.product_quantity <= 0 and disable_cart_button %}
											{% set btn_text = product.in_cart ? text_in_cart : button_cart %}
											{% set btn_action = "onclick=\"cart.add('" ~ product.product_id ~ "',this)\"" %}
											{% if change_text_cart_button_out_of_stock == 1 and product.product_quantity <= 0 %}
												{% set btn_text = disable_cart_button_text %}
											{% endif %}

											{% if product.show_buy_button %}
												<button aria-label="Add to cart" class="btn btn-general {{ ch_type_btn }}{% if product.in_cart %} is-active{% endif %}" type="button" {% if is_disabled %}disabled{% else %}{{ btn_action }}{% endif %}>
													<i class="up-icon-22 up-icon-cart" aria-hidden="true"></i>
													<span class="text-cart-add">{{ btn_text }}</span>
												</button>
											{% else %}
												<button aria-label="notify stock" class="btn btn-general {{ ch_type_btn }}{% if product.in_waitlist %} is-active{% endif %}" type="button" onclick="upstoreNotifyStock('{{ product.product_id }}');">
													<i class="up-icon-22 up-icon-notify" aria-hidden="true"></i>
													<span class="text-cart-add">{{ button_notify_stock }}</span>
												</button>
											{% endif %}
										</div>
									</div>
								</div>
								
								{# Атрибуты #}
								{% if show_attr_cpage == 1 and product.attribute_groups is not empty %}
									<div class="us-product-attributes">
										{% for key_attr_g, attribute_group in product.attribute_groups %}
											{% if key_attr_g < cpage_attr_group_count %}
												{% for key_attr_item, attribute in attribute_group.attribute %}
													{% if key_attr_item < cpage_attr_group_item_count %}
														<div class="us-product-attributes__item">
															<span class="us-product-attributes__name">{{ attribute.name }}:</span>
															<span class="us-product-attributes__text">{{ attribute.text }}</span>
														</div>
													{% endif %}
												{% endfor %}
											{% endif %}
										{% endfor %}
									</div>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
				
				<div class="row{% if us_setting_pages.status_showmore == 1 %} showmore_on{% endif %}">
					<div class="col-sm-12 text-center showmore-paginatation d-flex align-items-center justify-content-between">{{ pagination }}</div>
				</div>
				<br />
			{% endif %}

			{# Описание категории (после списка товаров, если сброшено) #}
			{% if config_catalog_category_description_dropped == 1 and (thumb or description) %}
				<div class="category_description psbt">
					{% if thumb %}
						<div class="psfl-l"><img loading="lazy" width="{{ thumb_width }}" height="{{ thumb_height }}" src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
					{% endif %}
					{% if description %}
						<div class="p-content">{{ description }}</div>
					{% endif %}
				</div>
			{% endif %}

			{# Если нет ни категорий, ни товаров #}
			{% if not categories and not products %}
				<p>{{ text_empty }}</p>
				<div class="buttons">
					<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
				</div>
			{% endif %}
			
			{{ content_bottom }}
		</div>
		{{ column_right }}
	</div>
</div>

{# Скрипт слайдера #}
{% if sub_category_type == 'slider' %}
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var swiperSelector = '.swiper-sub-category';
			var $swiperElement = $(swiperSelector);
			
			if ($swiperElement.length) {
				var sc_prev = $swiperElement.find('.swiper-sub-category__arrow_prev')[0],
				sc_next = $swiperElement.find('.swiper-sub-category__arrow_next')[0];

				const swiperSubCategory = new Swiper(swiperSelector, {
					slidesPerView: 'auto',
					watchSlidesVisibility: true,
					watchSlidesProgress: true,
					watchOverflow: true,
					observer: true,
					observeParents: true,
					nested: true,
					speed: 400,
					breakpointsBase: 'container',
					grabCursor: true,
					navigation: {
						nextEl: sc_next,
						prevEl: sc_prev,
					},
					on: {
						afterInit: function () {
							setTimeout(function () {
								$swiperElement.addClass('swiper-visible');
							}, 500);
							updateNavigation();
						},
						resize: function () {
							setTimeout(function () {
								updateNavigation();
							}, 300);
						}
					},
					breakpoints: {
						200: {slidesPerView: 2},
						500: {slidesPerView: 3},
						768: {slidesPerView: 4},
						992: {slidesPerView: 5},
						1150: {slidesPerView: 6},
						1350: {slidesPerView: 8},
					},
				});

				function updateNavigation() {
					var buttons = $swiperElement.find('.swiper-button-lock');
					var $navigation = $swiperElement.find('.swiper-sub-category__navigation');
					if (buttons.length === 2) {
						$navigation.addClass('disabled-navigation');
					} else {
						$navigation.removeClass('disabled-navigation');
					}
				}
			}
		});
	</script>
{% endif %}

{# Filter Modal DESKTOP #}
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="filterModalLabel">Фільтр товарів</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {# Price Filter Desktop #}
                    <div class="col-md-6">
                        <div class="desktop-filter-section">
                            <h5 class="desktop-filter-title">Ціна</h5>
                            <div class="price-filter-inputs">
                                <div class="price-input-group">
                                    <label for="desktop-price-min">від</label>
                                    <input type="number" id="desktop-price-min" class="price-input desktop-price-input" placeholder="0" min="0">
                                    <span class="price-currency">₴</span>
                                </div>
                                <div class="price-input-separator">—</div>
                                <div class="price-input-group">
                                    <label for="desktop-price-max">до</label>
                                    <input type="number" id="desktop-price-max" class="price-input desktop-price-input" placeholder="50000" min="0">
                                    <span class="price-currency">₴</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# Size Filter Desktop #}
                    <div class="col-md-6">
                        <div class="desktop-filter-section">
                            <h5 class="desktop-filter-title">Розмір</h5>
                            <div class="size-filter-list" id="desktopSizeFilterList">
                                {# Sizes will be loaded dynamically #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="resetDesktopFilter()">Скинути</button>
                <button type="button" class="btn btn-primary" onclick="applyDesktopFilter()">Застосувати</button>
            </div>
        </div>
    </div>
</div>

{# Floating Filter Button - Mobile Only #}
<button type="button" id="mobile-filter-btn" class="mobile-filter-floating-btn" aria-label="Open Filters" onclick="openMobileFilter()">
	<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24">
		<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8" d="M22 3H2l8 9.46V19l4 2v-8.54L22 3z"/>
	</svg>
</button>

{# Full Page Filter Modal - Mobile #}
<div class="filter-modal-fullpage" id="filterModalFullpage">
	<div class="filter-modal-fullpage__overlay" onclick="closeMobileFilter()"></div>
	<div class="filter-modal-fullpage__content">
		<div class="filter-modal-fullpage__header">
			<h4 class="filter-modal-fullpage__title">Фільтр</h4>
			<button type="button" class="filter-modal-fullpage__close" aria-label="Close" onclick="closeMobileFilter()">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 6L6 18M6 6l12 12"/>
				</svg>
			</button>
		</div>
		<div class="filter-modal-fullpage__body">
			{# Price Filter #}
			<div class="custom-filter-section" id="priceFilterSection">
				<div class="custom-filter-header" onclick="toggleFilterSection('priceFilterSection')">
					<span class="custom-filter-title">Ціна</span>
					<svg class="custom-filter-arrow" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M6 9l6 6 6-6"/></svg>
				</div>
				<div class="custom-filter-body">
					<div class="price-filter-inputs">
						<div class="price-input-group">
							<label for="price-min">від</label>
							<input type="number" id="price-min" class="price-input" placeholder="0" min="0">
							<span class="price-currency">₴</span>
						</div>
						<div class="price-input-separator">—</div>
						<div class="price-input-group">
							<label for="price-max">до</label>
							<input type="number" id="price-max" class="price-input" placeholder="50000" min="0">
							<span class="price-currency">₴</span>
						</div>
					</div>
					<div class="price-slider-container">
						<div class="price-slider-track">
							<div class="price-slider-range" id="priceSliderRange"></div>
						</div>
						<input type="range" id="price-slider-min" class="price-slider" min="0" max="50000" value="0" step="100">
						<input type="range" id="price-slider-max" class="price-slider" min="0" max="50000" value="50000" step="100">
					</div>
				</div>
			</div>

			{# Size Filter #}
			<div class="custom-filter-section" id="sizeFilterSection">
				<div class="custom-filter-header" onclick="toggleFilterSection('sizeFilterSection')">
					<span class="custom-filter-title">Розмір</span>
					<svg class="custom-filter-arrow" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M6 9l6 6 6-6"/></svg>
				</div>
				<div class="custom-filter-body">
					<div class="size-filter-list" id="sizeFilterList">
						{# Sizes will be loaded dynamically #}
						<div class="size-loading">Завантаження розмірів...</div>
					</div>
				</div>
			</div>
		</div>
		<div class="filter-modal-fullpage__footer">
			<button type="button" class="btn btn-outline-secondary filter-modal-fullpage__btn-reset" onclick="resetMobileFilter()">Скинути</button>
			<button type="button" class="btn btn-primary filter-modal-fullpage__btn-apply" onclick="applyMobileFilter()">Застосувати</button>
		</div>
	</div>
</div>

<style>
/* Floating Filter Button - Mobile Only */
.mobile-filter-floating-btn {
	display: none;
	position: fixed;
	right: 10px;
	bottom: 130px; /* Above back-top button */
	z-index: 1001;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	border: none;
	background: var(--up-bg-scroll-top, #333);
	color: #fff;
	box-shadow: 0 4px 16px rgba(0,0,0,0.18);
	cursor: pointer;
	transition: background 0.2s ease, transform 0.2s ease, bottom 0.3s ease;
	align-items: center;
	justify-content: center;
}
.mobile-filter-floating-btn:hover,
.mobile-filter-floating-btn:focus {
	background: var(--up-bg-scroll-top-hover, #555);
	transform: scale(1.05);
	outline: none;
}
.mobile-filter-floating-btn svg {
	display: block;
}

/* Show only on mobile */
@media (max-width: 767px) {
	.mobile-filter-floating-btn {
		display: flex;
	}
	/* Adjust position when back-top has extra offset */
	#back-top.turn_on ~ .mobile-filter-floating-btn,
	.mobile-filter-floating-btn.filter-btn-shifted {
		bottom: 140px;
	}
}

/* Full Page Modal */
.filter-modal-fullpage {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1050;
	visibility: hidden;
	pointer-events: none;
}
.filter-modal-fullpage.is-open {
	visibility: visible;
	pointer-events: auto;
}

/* Overlay */
.filter-modal-fullpage__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.3s ease;
}
.filter-modal-fullpage.is-open .filter-modal-fullpage__overlay {
	opacity: 1;
}

/* Content Panel - Slides from bottom */
.filter-modal-fullpage__content {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	display: flex;
	flex-direction: column;
	transform: translateY(100%);
	transition: transform 0.35s cubic-bezier(0.32, 0.72, 0, 1);
}
.filter-modal-fullpage.is-open .filter-modal-fullpage__content {
	transform: translateY(0);
}

/* Header */
.filter-modal-fullpage__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 20px;
	border-bottom: 1px solid #eee;
	flex-shrink: 0;
}
.filter-modal-fullpage__title {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	color: #222;
}
.filter-modal-fullpage__close {
	background: none;
	border: none;
	padding: 8px;
	margin: -8px;
	cursor: pointer;
	color: #666;
	transition: color 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.filter-modal-fullpage__close:hover {
	color: #000;
}

/* Body */
.filter-modal-fullpage__body {
	flex: 1;
	overflow-y: auto;
	padding: 20px;
	-webkit-overflow-scrolling: touch;
}

/* Footer */
.filter-modal-fullpage__footer {
	display: flex;
	gap: 12px;
	padding: 16px 20px;
	border-top: 1px solid #eee;
	flex-shrink: 0;
	background: #fff;
}
.filter-modal-fullpage__btn-reset,
.filter-modal-fullpage__btn-apply {
	flex: 1;
	padding: 14px 20px;
	font-size: 15px;
	font-weight: 500;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.2s;
}
.filter-modal-fullpage__btn-reset {
	background: #f5f5f5;
	border: 1px solid #ddd;
	color: #333;
}
.filter-modal-fullpage__btn-reset:hover {
	background: #eee;
}
.filter-modal-fullpage__btn-apply {
	background: var(--up-bg-btn-general, #333);
	border: none;
	color: #fff;
}
.filter-modal-fullpage__btn-apply:hover {
	opacity: 0.9;
}

/* Prevent body scroll when modal is open */
body.filter-modal-open {
	overflow: hidden;
}

/* Dark theme support */
.dark-theme .filter-modal-fullpage__content {
	background: #1a1a1a;
}
.dark-theme .filter-modal-fullpage__header {
	border-bottom-color: #333;
}
.dark-theme .filter-modal-fullpage__title {
	color: #fff;
}
.dark-theme .filter-modal-fullpage__close {
	color: #aaa;
}
.dark-theme .filter-modal-fullpage__close:hover {
	color: #fff;
}
.dark-theme .filter-modal-fullpage__body {
	color: #ddd;
}
.dark-theme .filter-modal-fullpage__footer {
	border-top-color: #333;
	background: #1a1a1a;
}
.dark-theme .filter-modal-fullpage__btn-reset {
	background: #2a2a2a;
	border-color: #444;
	color: #ddd;
}

/* Custom Filter Sections */
.custom-filter-section {
	border-bottom: 1px solid #eee;
	margin-bottom: 0;
}
.custom-filter-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0;
	cursor: pointer;
	user-select: none;
}
.custom-filter-title {
	font-size: 15px;
	font-weight: 600;
	color: #222;
}
.custom-filter-arrow {
	transition: transform 0.2s ease;
}
.custom-filter-section.collapsed .custom-filter-arrow {
	transform: rotate(-90deg);
}
.custom-filter-body {
	padding-bottom: 16px;
	overflow: hidden;
	transition: max-height 0.3s ease, opacity 0.2s ease;
}
.custom-filter-section.collapsed .custom-filter-body {
	max-height: 0 !important;
	padding-bottom: 0;
	opacity: 0;
}

/* Price Filter */
.price-filter-inputs {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 20px;
}
.price-input-group {
	flex: 1;
	position: relative;
	display: flex;
	align-items: center;
	background: #f5f5f5;
	border-radius: 8px;
	padding: 8px 12px;
}
.price-input-group label {
	font-size: 12px;
	color: #888;
	margin-right: 8px;
	white-space: nowrap;
}
.price-input {
	width: 100%;
	border: none;
	background: transparent;
	font-size: 15px;
	font-weight: 500;
	color: #222;
	outline: none;
	-moz-appearance: textfield;
}
.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.price-currency {
	font-size: 14px;
	color: #666;
	margin-left: 4px;
}
.price-input-separator {
	color: #999;
	font-size: 14px;
}

/* Price Slider */
.price-slider-container {
	position: relative;
	height: 40px;
	padding: 15px 0;
}
.price-slider-track {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 4px;
	background: #e0e0e0;
	border-radius: 2px;
	transform: translateY(-50%);
}
.price-slider-range {
	position: absolute;
	height: 100%;
	background: var(--up-bg-btn-general, #333);
	border-radius: 2px;
}
.price-slider {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 4px;
	background: transparent;
	-webkit-appearance: none;
	appearance: none;
	pointer-events: none;
	transform: translateY(-50%);
}
.price-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 22px;
	height: 22px;
	background: #fff;
	border: 2px solid var(--up-bg-btn-general, #333);
	border-radius: 50%;
	cursor: pointer;
	pointer-events: auto;
	box-shadow: 0 2px 6px rgba(0,0,0,0.15);
	transition: transform 0.1s ease;
}
.price-slider::-webkit-slider-thumb:hover {
	transform: scale(1.1);
}
.price-slider::-moz-range-thumb {
	width: 22px;
	height: 22px;
	background: #fff;
	border: 2px solid var(--up-bg-btn-general, #333);
	border-radius: 50%;
	cursor: pointer;
	pointer-events: auto;
	box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

/* Size Filter */
.size-filter-list {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}
.size-checkbox-item {
	display: flex;
	align-items: center;
}
.size-checkbox-input {
	display: none;
}
.size-checkbox-label {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 52px;
	padding: 10px 14px;
	background: #f5f5f5;
	border: 2px solid transparent;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 500;
	color: #333;
	cursor: pointer;
	transition: all 0.15s ease;
	user-select: none;
}
.size-checkbox-label:hover {
	background: #eee;
}
.size-checkbox-input:checked + .size-checkbox-label {
	background: #fff;
	border-color: var(--up-bg-btn-general, #333);
	color: var(--up-bg-btn-general, #333);
}
.size-loading {
	color: #888;
	font-size: 14px;
	padding: 10px 0;
}

/* Dark Theme Support */
.dark-theme .custom-filter-section {
	border-bottom-color: #333;
}
.dark-theme .custom-filter-title {
	color: #fff;
}
.dark-theme .price-input-group {
	background: #2a2a2a;
}
.dark-theme .price-input {
	color: #fff;
}
.dark-theme .price-slider-track {
	background: #444;
}
.dark-theme .size-checkbox-label {
	background: #2a2a2a;
	color: #ddd;
}
.dark-theme .size-checkbox-label:hover {
	background: #333;
}
.dark-theme .size-checkbox-input:checked + .size-checkbox-label {
	background: #333;
	border-color: var(--up-bg-btn-general, #fff);
	color: #fff;
}

/* Desktop Filter Modal Styles */
.desktop-filter-section {
	margin-bottom: 20px;
}
.desktop-filter-title {
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #222;
}
#filterModal .price-filter-inputs {
	margin-bottom: 0;
}
#filterModal .modal-body {
	padding: 20px 25px;
}
#filterModal .size-filter-list {
	max-height: 200px;
	overflow-y: auto;
}
</style>

<script>
(function() {
	// Filter State
	var filterState = {
		priceMin: null,
		priceMax: null,
		sizes: [],
		priceFilterKey: '2.0',  // OcFilter special price filter key (filter_id=2, source=0)
		sizeFilterKey: '2.4'    // OcFilter size filter key (filter_id=2, source=4)
	};

	// Price slider config (will be updated from backend)
	var priceConfig = {
		min: 0,
		max: 50000,
		step: 100
	};

	// Available sizes (will be loaded from backend)
	var availableSizes = [];
	
	// URL parameters for OcFilter (will be updated from backend)
	var urlParams = {
		index: 'ocf',
		sep_filt: 'F',  // Filter prefix
		sep_fsrc: 'S',  // Source prefix
		sep_vals: 'V',  // Values prefix
		sep_sdot: 'D',  // Decimal dot
		sep_sneg: 'N',  // Negative prefix
		sep_sran: 'T'   // Range separator (min T max)
	};

	// Data loaded flag
	var filtersLoaded = false;

	// Fetch filters from backend
	function fetchFiltersFromBackend(callback) {
		if (filtersLoaded && availableSizes.length > 0) {
			if (callback) callback();
			return;
		}
		
		var apiUrl = 'index.php?route=api/filter';
		// Add current path parameter
		var currentUrl = new URL(window.location.href);
		var path = currentUrl.searchParams.get('path');
		if (path) {
			apiUrl += '&path=' + encodeURIComponent(path);
		}
		
		fetch(apiUrl)
			.then(function(response) {
				return response.json();
			})
			.then(function(data) {
				// Update price config from backend
				if (data.price) {
					priceConfig.min = Math.floor(data.price.min);
					priceConfig.max = Math.ceil(data.price.max);
					filterState.priceFilterKey = data.price.filter_key || '2.0';  // OcFilter price key
					
					// Update slider elements
					updatePriceSliderConfig();
				}
				
				// Update sizes from backend
				if (data.sizes && data.sizes.values) {
					availableSizes = data.sizes.values.map(function(v) {
						return { id: v.value_id, name: v.name, count: v.count, selected: v.selected };
					});
					filterState.sizeFilterKey = data.sizes.filter_key;
				}
				
				// Update URL params
				if (data.url_params) {
					urlParams = data.url_params;
				}
				
				filtersLoaded = true;
				
				// Re-initialize UI with new data
				initSizeFilter();
				initDesktopSizeFilter();
				parseUrlFilters();
				
				if (callback) callback();
			})
			.catch(function(error) {
				console.error('Error fetching filters:', error);
				// Fallback to existing UI
				if (callback) callback();
			});
	}

	// Initialize
	document.addEventListener('DOMContentLoaded', function() {
		initPriceSlider();
		// Fetch filters data on page load
		fetchFiltersFromBackend();
	});

	// Close Modal
	window.closeMobileFilter = function() {
		var modal = document.getElementById('filterModalFullpage');
		if (modal) {
			modal.classList.remove('is-open');
			document.body.classList.remove('filter-modal-open');
		}
	};

	// Toggle Filter Section
	window.toggleFilterSection = function(sectionId) {
		var section = document.getElementById(sectionId);
		if (section) {
			section.classList.toggle('collapsed');
		}
	};

	// Update price slider configuration from backend data
	function updatePriceSliderConfig() {
		var sliders = [
			{ min: 'price-slider-min', max: 'price-slider-max', minInput: 'price-min', maxInput: 'price-max' },
			{ min: 'desktop-price-slider-min', max: 'desktop-price-slider-max', minInput: 'desktop-price-min', maxInput: 'desktop-price-max' }
		];
		
		sliders.forEach(function(s) {
			var minSlider = document.getElementById(s.min);
			var maxSlider = document.getElementById(s.max);
			var minInput = document.getElementById(s.minInput);
			var maxInput = document.getElementById(s.maxInput);
			
			if (minSlider) {
				minSlider.min = priceConfig.min;
				minSlider.max = priceConfig.max;
				minSlider.value = priceConfig.min;
			}
			if (maxSlider) {
				maxSlider.min = priceConfig.min;
				maxSlider.max = priceConfig.max;
				maxSlider.value = priceConfig.max;
			}
			if (minInput) {
				minInput.placeholder = priceConfig.min;
			}
			if (maxInput) {
				maxInput.placeholder = priceConfig.max;
			}
		});
		
		// Update range display
		var range = document.getElementById('priceSliderRange');
		if (range) {
			range.style.left = '0%';
			range.style.width = '100%';
		}
	}

	// Price Slider Logic
	function initPriceSlider() {
		var minInput = document.getElementById('price-min');
		var maxInput = document.getElementById('price-max');
		var minSlider = document.getElementById('price-slider-min');
		var maxSlider = document.getElementById('price-slider-max');
		var range = document.getElementById('priceSliderRange');

		if (!minSlider || !maxSlider) return;

		function updateSliderRange() {
			var min = parseInt(minSlider.value);
			var max = parseInt(maxSlider.value);
			var total = priceConfig.max - priceConfig.min;
			
			if (total <= 0) return;
			
			var minPercent = ((min - priceConfig.min) / total) * 100;
			var maxPercent = ((max - priceConfig.min) / total) * 100;
			
			range.style.left = minPercent + '%';
			range.style.width = (maxPercent - minPercent) + '%';
		}

		function syncInputs() {
			minInput.value = minSlider.value;
			maxInput.value = maxSlider.value;
			filterState.priceMin = parseInt(minSlider.value);
			filterState.priceMax = parseInt(maxSlider.value);
		}

		minSlider.addEventListener('input', function() {
			var min = parseInt(this.value);
			var max = parseInt(maxSlider.value);
			if (min > max - priceConfig.step) {
				this.value = max - priceConfig.step;
			}
			syncInputs();
			updateSliderRange();
		});

		maxSlider.addEventListener('input', function() {
			var min = parseInt(minSlider.value);
			var max = parseInt(this.value);
			if (max < min + priceConfig.step) {
				this.value = min + priceConfig.step;
			}
			syncInputs();
			updateSliderRange();
		});

		minInput.addEventListener('change', function() {
			var val = parseInt(this.value) || priceConfig.min;
			val = Math.max(priceConfig.min, Math.min(val, parseInt(maxSlider.value) - priceConfig.step));
			this.value = val;
			minSlider.value = val;
			filterState.priceMin = val;
			updateSliderRange();
		});

		maxInput.addEventListener('change', function() {
			var val = parseInt(this.value) || priceConfig.max;
			val = Math.min(priceConfig.max, Math.max(val, parseInt(minSlider.value) + priceConfig.step));
			this.value = val;
			maxSlider.value = val;
			filterState.priceMax = val;
			updateSliderRange();
		});

		updateSliderRange();
	}

	// Size Filter Logic
	function initSizeFilter() {
		var container = document.getElementById('sizeFilterList');
		if (!container) return;
		
		// Show loading if no sizes loaded yet
		if (availableSizes.length === 0) {
			container.innerHTML = '<div class="size-loading">Завантаження розмірів...</div>';
			return;
		}

		var html = '';
		availableSizes.forEach(function(size) {
			var countBadge = size.count ? ' <span class="size-count">(' + size.count + ')</span>' : '';
			var selectedClass = size.selected ? ' checked' : '';
			html += '<div class="size-checkbox-item">' +
				'<input type="checkbox" class="size-checkbox-input" id="size-' + size.id + '" value="' + size.id + '"' + selectedClass + ' onchange="updateSizeFilter(this)">' +
				'<label class="size-checkbox-label" for="size-' + size.id + '">' + size.name + countBadge + '</label>' +
				'</div>';
			
			// Track pre-selected sizes
			if (size.selected) {
				if (filterState.sizes.indexOf(size.id) === -1) {
					filterState.sizes.push(size.id);
				}
			}
		});
		container.innerHTML = html;
	}
	
	// Desktop Size Filter
	function initDesktopSizeFilter() {
		var container = document.getElementById('desktopSizeFilterList');
		if (!container) return;
		
		if (availableSizes.length === 0) {
			container.innerHTML = '<div class="size-loading">Завантаження розмірів...</div>';
			return;
		}

		var html = '';
		availableSizes.forEach(function(size) {
			var countBadge = size.count ? ' <span class="size-count">(' + size.count + ')</span>' : '';
			var selectedClass = size.selected ? ' checked' : '';
			html += '<div class="size-checkbox-item">' +
				'<input type="checkbox" class="desktop-size-cb size-checkbox-input" id="desktop-size-' + size.id + '" value="' + size.id + '"' + selectedClass + '>' +
				'<label class="size-checkbox-label" for="desktop-size-' + size.id + '">' + size.name + countBadge + '</label>' +
				'</div>';
		});
		container.innerHTML = html;
	}

	window.updateSizeFilter = function(checkbox) {
		var sizeId = parseInt(checkbox.value);
		if (checkbox.checked) {
			if (filterState.sizes.indexOf(sizeId) === -1) {
				filterState.sizes.push(sizeId);
			}
		} else {
			var idx = filterState.sizes.indexOf(sizeId);
			if (idx > -1) {
				filterState.sizes.splice(idx, 1);
			}
		}
	};

	// Parse URL Filters (OcFilter format: F{id}S{source}V{values})
	// Example: F2S0V2500T2599 = price range 2500-2599
	// Example: F2S4V58V66 = sizes 58 and 66
	function parseUrlFilters() {
		var url = new URL(window.location.href);
		var ocfParam = url.searchParams.get(urlParams.index);
		
		if (!ocfParam) return;
		
		// OcFilter pattern: F(\d+)S(\d+)V(...)
		var pattern = /F(\d+)S(\d+)V([^F]+)/g;
		var match;
		
		while ((match = pattern.exec(ocfParam)) !== null) {
			var filterId = match[1];
			var source = match[2];
			var valuesStr = match[3];
			var filterKey = filterId + '.' + source;
			
			// Price filter (special filter, source=0, typically filter_key "2.0")
			var priceKey = filterState.priceFilterKey || '2.0';
			if (filterKey === priceKey) {
				// Check if it's a range (contains T separator)
				if (valuesStr.indexOf(urlParams.sep_sran) !== -1) {
					var rangeParts = valuesStr.split(urlParams.sep_sran);
					if (rangeParts.length === 2) {
						// Convert back from encoded format (D -> ., N -> -)
						var minVal = rangeParts[0].replace(new RegExp(urlParams.sep_sdot, 'g'), '.').replace(new RegExp(urlParams.sep_sneg, 'g'), '-');
						var maxVal = rangeParts[1].replace(new RegExp(urlParams.sep_sdot, 'g'), '.').replace(new RegExp(urlParams.sep_sneg, 'g'), '-');
						
						filterState.priceMin = parseFloat(minVal);
						filterState.priceMax = parseFloat(maxVal);
						
						updatePriceInputsFromState();
					}
				}
				continue;
			}
			
			// Size filter (option, source=4, typically filter_key like "2.4")
			var sizeKey = filterState.sizeFilterKey || '2.4';
			if (filterKey === sizeKey) {
				// Values are separated by V: V58V66 -> split by V
				var sizeIds = valuesStr.split(urlParams.sep_vals).filter(function(v) { return v.length > 0; });
				sizeIds.forEach(function(id) {
					var sizeId = parseInt(id);
					if (!isNaN(sizeId)) {
						if (filterState.sizes.indexOf(sizeId) === -1) {
							filterState.sizes.push(sizeId);
						}
						var checkbox = document.getElementById('size-' + sizeId);
						if (checkbox) checkbox.checked = true;
						var desktopCheckbox = document.getElementById('desktop-size-' + sizeId);
						if (desktopCheckbox) desktopCheckbox.checked = true;
					}
				});
			}
		}
	}
	
	// Update price inputs from filter state
	function updatePriceInputsFromState() {
		['', 'desktop-'].forEach(function(prefix) {
			var minInput = document.getElementById(prefix + 'price-min');
			var maxInput = document.getElementById(prefix + 'price-max');
			var minSlider = document.getElementById(prefix + 'price-slider-min');
			var maxSlider = document.getElementById(prefix + 'price-slider-max');
			
			if (filterState.priceMin !== null && minInput) {
				minInput.value = filterState.priceMin;
			}
			if (filterState.priceMax !== null && maxInput) {
				maxInput.value = filterState.priceMax;
			}
			if (filterState.priceMin !== null && minSlider) {
				minSlider.value = filterState.priceMin;
			}
			if (filterState.priceMax !== null && maxSlider) {
				maxSlider.value = filterState.priceMax;
			}
		});
		
		// Update range display
		var range = document.getElementById('priceSliderRange');
		if (range && filterState.priceMin !== null && filterState.priceMax !== null) {
			var total = priceConfig.max - priceConfig.min;
			if (total > 0) {
				var minPercent = ((filterState.priceMin - priceConfig.min) / total) * 100;
				var maxPercent = ((filterState.priceMax - priceConfig.min) / total) * 100;
				range.style.left = minPercent + '%';
				range.style.width = (maxPercent - minPercent) + '%';
			}
		}
	}
	
	// Build filter URL parameter string in OcFilter format
	// Format: F{filter_id}S{source}V{values} 
	// Example for price: F2S0V2500T2599 (filter_key 2.0, range 2500-2599)
	// Example for size: F2S4V58V66 (filter_key 2.4, values 58 and 66)
	function buildFilterParam() {
		var filters = [];
		
		// Price filter (special filter key like "2.0")
		var priceMin = filterState.priceMin;
		var priceMax = filterState.priceMax;
		
		// Use defaults if only one value is set
		if (priceMin === null && priceMax !== null) {
			priceMin = priceConfig.min;
		}
		if (priceMax === null && priceMin !== null) {
			priceMax = priceConfig.max;
		}
		
		// Add filter if we have any price values and they differ from full range
		var hasValidPriceFilter = (priceMin !== null && priceMax !== null) && 
			(priceMin > priceConfig.min || priceMax < priceConfig.max);
		
		if (hasValidPriceFilter) {
			// Parse filter_key "2.0" into filter_id=2, source=0
			var priceKey = filterState.priceFilterKey || '2.0';
			var priceParts = priceKey.split('.');
			var priceFilterId = priceParts[0];
			var priceSource = priceParts[1] || '0';
			
			// Format range: V{min}T{max} - handle decimals
			var minStr = String(priceMin).replace('.', urlParams.sep_sdot).replace('-', urlParams.sep_sneg);
			var maxStr = String(priceMax).replace('.', urlParams.sep_sdot).replace('-', urlParams.sep_sneg);
			
			filters.push(priceFilterId + urlParams.sep_fsrc + priceSource + urlParams.sep_vals + minStr + urlParams.sep_sran + maxStr);
		}
		
		// Size filter (attribute/option key like "2.4")
		if (filterState.sizes.length > 0 && filterState.sizeFilterKey) {
			// Parse filter_key "2.4" into filter_id=2, source=4
			var sizeKey = filterState.sizeFilterKey;
			var sizeParts = sizeKey.split('.');
			var sizeFilterId = sizeParts[0];
			var sizeSource = sizeParts[1] || '4';
			
			// Format values: V{val1}V{val2}V{val3}
			var sizeValues = filterState.sizes.map(function(v) { return v; }).sort(function(a,b) { return a-b; });
			filters.push(sizeFilterId + urlParams.sep_fsrc + sizeSource + urlParams.sep_vals + sizeValues.join(urlParams.sep_vals));
		}
		
		// Join with filter prefix
		if (filters.length > 0) {
			return urlParams.sep_filt + filters.join(urlParams.sep_filt);
		}
		
		return '';
	}

	// Apply Filters
	window.applyMobileFilter = function() {
		var url = new URL(window.location.href);
		
		// Get current values from inputs
		var minInput = document.getElementById('price-min');
		var maxInput = document.getElementById('price-max');
		
		if (minInput && minInput.value) {
			filterState.priceMin = parseInt(minInput.value);
		}
		if (maxInput && maxInput.value) {
			filterState.priceMax = parseInt(maxInput.value);
		}
		
		// Build filter param
		var filterParam = buildFilterParam();
		
		// Update URL
		if (filterParam) {
			url.searchParams.set(urlParams.index, filterParam);
		} else {
			url.searchParams.delete(urlParams.index);
		}
		
		// Remove page parameter when filtering
		url.searchParams.delete('page');
		
		closeMobileFilter();
		window.location.href = url.toString();
	};

	// Reset Filters
	window.resetMobileFilter = function() {
		// Reset state
		filterState.priceMin = null;
		filterState.priceMax = null;
		filterState.sizes = [];
		
		// Reset inputs
		['', 'desktop-'].forEach(function(prefix) {
			var minInput = document.getElementById(prefix + 'price-min');
			var maxInput = document.getElementById(prefix + 'price-max');
			var minSlider = document.getElementById(prefix + 'price-slider-min');
			var maxSlider = document.getElementById(prefix + 'price-slider-max');
			
			if (minInput) minInput.value = '';
			if (maxInput) maxInput.value = '';
			if (minSlider) minSlider.value = priceConfig.min;
			if (maxSlider) maxSlider.value = priceConfig.max;
		});
		
		var range = document.getElementById('priceSliderRange');
		if (range) {
			range.style.left = '0%';
			range.style.width = '100%';
		}
		
		// Reset size checkboxes
		var checkboxes = document.querySelectorAll('.size-checkbox-input, .desktop-size-cb');
		checkboxes.forEach(function(cb) {
			cb.checked = false;
		});
		
		// Navigate without filters
		var url = new URL(window.location.href);
		url.searchParams.delete(urlParams.index);
		url.searchParams.delete('page');
		
		closeMobileFilter();
		window.location.href = url.toString();
	};

	// Close on Escape key
	document.addEventListener('keydown', function(e) {
		if (e.key === 'Escape') {
			var modal = document.getElementById('filterModalFullpage');
			if (modal && modal.classList.contains('is-open')) {
				closeMobileFilter();
			}
		}
	});

	// Initialize desktop filter when modal opens
	$('#filterModal').on('show.bs.modal', function() {
		// Fetch filters if not loaded yet
		if (!filtersLoaded) {
			fetchFiltersFromBackend(function() {
				initDesktopSizeFilter();
				syncDesktopFilterInputs();
			});
		} else {
			initDesktopSizeFilter();
			syncDesktopFilterInputs();
		}
	});
	
	function syncDesktopFilterInputs() {
		// Sync price inputs
		var minInput = document.getElementById('desktop-price-min');
		var maxInput = document.getElementById('desktop-price-max');
		if (minInput && filterState.priceMin !== null) minInput.value = filterState.priceMin;
		if (maxInput && filterState.priceMax !== null) maxInput.value = filterState.priceMax;
		
		// Sync size checkboxes
		filterState.sizes.forEach(function(sizeId) {
			var checkbox = document.getElementById('desktop-size-' + sizeId);
			if (checkbox) checkbox.checked = true;
		});
	}

	window.applyDesktopFilter = function() {
		var url = new URL(window.location.href);
		
		// Price filter
		var minInput = document.getElementById('desktop-price-min');
		var maxInput = document.getElementById('desktop-price-max');
		
		if (minInput && minInput.value) {
			filterState.priceMin = parseInt(minInput.value);
		} else {
			filterState.priceMin = null;
		}
		if (maxInput && maxInput.value) {
			filterState.priceMax = parseInt(maxInput.value);
		} else {
			filterState.priceMax = null;
		}
		
		// Size filter
		filterState.sizes = [];
		var checkboxes = document.querySelectorAll('.desktop-size-cb:checked');
		checkboxes.forEach(function(cb) {
			filterState.sizes.push(parseInt(cb.value));
		});
		
		// Build filter param
		var filterParam = buildFilterParam();
		
		// Update URL
		if (filterParam) {
			url.searchParams.set(urlParams.index, filterParam);
		} else {
			url.searchParams.delete(urlParams.index);
		}
		
		url.searchParams.delete('page');
		
		$('#filterModal').modal('hide');
		window.location.href = url.toString();
	};

	window.resetDesktopFilter = function() {
		// Reset state
		filterState.priceMin = null;
		filterState.priceMax = null;
		filterState.sizes = [];
		
		// Reset inputs
		var minInput = document.getElementById('desktop-price-min');
		var maxInput = document.getElementById('desktop-price-max');
		if (minInput) minInput.value = '';
		if (maxInput) maxInput.value = '';
		
		// Reset size checkboxes
		var checkboxes = document.querySelectorAll('.desktop-size-cb');
		checkboxes.forEach(function(cb) {
			cb.checked = false;
		});
		
		// Navigate without filters
		var url = new URL(window.location.href);
		url.searchParams.delete(urlParams.index);
		url.searchParams.delete('page');
		
		$('#filterModal').modal('hide');
		window.location.href = url.toString();
	};
	
	// Expose fetch function for mobile modal
	window.openMobileFilter = function() {
		var modal = document.getElementById('filterModalFullpage');
		if (modal) {
			modal.classList.add('is-open');
			document.body.classList.add('filter-modal-open');
			
			// Fetch filters if not loaded yet
			if (!filtersLoaded) {
				fetchFiltersFromBackend();
			}
		}
	};
})();
</script>

{{ footer }}