{{ header }}
<div class="container">
	<ul class="breadcrumb">
		{% for i,breadcrumb in breadcrumbs %}
			{% if (i+1 < breadcrumbs|length) %}
				<li><a href="{{ breadcrumb.href }}"><span>{{ breadcrumb.text }}</span></a></li>
			{% else %}
				<li><span>{{ breadcrumb.text }}</span></li>
			{% endif %}
		{% endfor %}
	</ul>
	<div class="row">
	{{ column_left }}
	{% set cols_class = 'col-xs-12' %}
	{% if (column_left and column_right) %}
	{% set class = 'col-md-6' %}
		{% if (display_view == 'grid') %}
			{% set cols_class = 'col-lg-6 col-md-6 col-sm-12 col-xs-6' %}
		{% endif %}
	{% elseif (column_left or column_right) %}
	{% set class = 'col-md-9' %}
		{% if (display_view == 'grid') %}
			{% set cols_class = 'col-lg-4 col-md-4 col-sm-6 col-xs-6' %}
		{% endif %}
	{% else %}
	{% set class = 'col-md-12' %}
		{% if (display_view == 'grid') %}
			{% set cols_class = 'col-lg-3 col-md-3 col-sm-6 col-xs-6 col-lg-1-5' %}
		{% endif %}
	{% endif %}
	<div id="content" class="{{ class }} ns-smv">
		{{ content_top }}
		<h1>{{ heading_title }}</h1>
		{% if (products) %}
			{% if (us_setting_pages.status_limit is defined and us_setting_pages.status_limit == 1) or (us_setting_pages.status_sort is defined and us_setting_pages.status_sort == 1) or (us_setting_pages.show_display_view is defined and us_setting_pages.show_display_view == 1) %}
				<div class="view-box">
					<div class="row">
						<div class="col-xs-12 col-sm-12 localstorage dflex align-items-center justify-content-between">
							<div class="ch-limit-sorts dflex">
								{% if us_setting_pages.status_limit is defined and us_setting_pages.status_limit == 1 %}
									<div class="btn-group{% if us_setting_pages.sort_display_mode == 'inline' %} md-border-radius{% endif %}">
										<button type="button" class="btn btn-sort-limit dropdown-toggle" data-toggle="dropdown" title="{{ text_limit }}">
											{% for limit_active in limits %}
												{% if limit_active.value == limit %}
													{{ limit_active.text }}
												{% endif %}
											{% endfor %}
											<svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5"><path fill="currentColor" fill-rule="evenodd" d="M3.174 2.856a.5.5 0 00.707-.004L6.144.562a.5.5 0 01.712.704L4.592 3.555a1.5 1.5 0 01-2.121.012L.148 1.27A.5.5 0 11.852.559l2.322 2.297z" clip-rule="evenodd"></path></svg>
										</button>
										<ul class="dropdown-menu ddm-limit ch-dropdown dropdown-menu-left">
											{% for limits in limits %}
												{% if limits.value == limit %}
													<li class="active"><button class="btn-limit-link" onclick="location.href='{{ limits.href }}'">{{ limits.text }}</button></li>
												{% else %}
													<li><button class="btn-limit-link" onclick="location.href='{{ limits.href }}'">{{ limits.text }}</button></li>
												{% endif %}
											{% endfor %}
										</ul>
									</div>
								{% endif %}
								{% if us_setting_pages.status_sort is defined and us_setting_pages.status_sort == 1 %}
									<div class="btn-group d-inline-flex align-items-center">
										<button type="button" class="btn btn-sort-limit dropdown-toggle{% if us_setting_pages.sort_display_mode == 'inline' %} hidden-md hidden-lg{% endif %}" data-toggle="dropdown">
											{% for sort_active in sorts %}
												{% if sort_active.value == sort ~ '-' ~ order %}
													{{ sort_active.text }}
												{% endif %}
											{% endfor %}
											<svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5"><path fill="currentColor" fill-rule="evenodd" d="M3.174 2.856a.5.5 0 00.707-.004L6.144.562a.5.5 0 01.712.704L4.592 3.555a1.5 1.5 0 01-2.121.012L.148 1.27A.5.5 0 11.852.559l2.322 2.297z" clip-rule="evenodd"></path></svg>
										</button>
										{% if us_setting_pages.sort_display_mode == 'inline' %}
											<div class="us-category-sort-title">{{ text_sort }}</div>
										{% endif %}
										<ul class="dropdown-menu ddm-sort dropdown-menu-left ch-dropdown {% if us_setting_pages.sort_display_mode == 'inline' %}ddm-sort-list-pc{% endif %}">
											{% for sort_item in sorts %}
												{% if sort_item.value == sort ~ '-' ~ order %}
													<li class="active"><button class="btn-sort-link" onclick="location.href='{{ sort_item.href }}'">{{ sort_item.text }}</button></li>
												{% else %}
													<li><button class="btn-sort-link" onclick="location.href='{{ sort_item.href }}'">{{ sort_item.text }}</button></li>
												{% endif %}
											{% endfor %}
										</ul>
									</div>
								{% endif %}
							</div>
							{% if us_setting_pages.show_display_view is defined and us_setting_pages.show_display_view == 1 %}
								<div class="btn-group dflex localstorage product_list_toolbar">
									<button aria-label="Grid View" type="button" id="grid-view" class="btn btn-view {% if display_view == 'grid' %}active{% endif %}" data-toggle="tooltip" title="{{ button_grid }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18">
											<path stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M6.5 1H2a1 1 0 00-1 1v4.5a1 1 0 001 1h4.5a1 1 0 001-1V2a1 1 0 00-1-1zM16 1h-4.5a1 1 0 00-1 1v4.5a1 1 0 001 1H16a1 1 0 001-1V2a1 1 0 00-1-1zM6.5 10.5H2a1 1 0 00-1 1V16a1 1 0 001 1h4.5a1 1 0 001-1v-4.5a1 1 0 00-1-1zM16 10.5h-4.5a1 1 0 00-1 1V16a1 1 0 001 1H16a1 1 0 001-1v-4.5a1 1 0 00-1-1z"/>
										</svg>
									</button>
									<button aria-label="List View" type="button" id="list-view" class="btn btn-view {% if display_view == 'list' %}active{% endif %}" data-toggle="tooltip" title="{{ button_list }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18">
											<path stroke="currentColor" stroke-width="1.5" d="M4.8 1H1.2a.2.2 0 00-.2.2v3.029c0 .11.09.2.2.2h3.6a.2.2 0 00.2-.2V1.2a.2.2 0 00-.2-.2zM16.8 1H8.2a.2.2 0 00-.2.2v3.029c0 .11.09.2.2.2h8.6a.2.2 0 00.2-.2V1.2a.2.2 0 00-.2-.2zM4.8 7.286H1.2a.2.2 0 00-.2.2v3.028c0 .11.09.2.2.2h3.6a.2.2 0 00.2-.2V7.486a.2.2 0 00-.2-.2zM16.8 7.286H8.2a.2.2 0 00-.2.2v3.028c0 .11.09.2.2.2h8.6a.2.2 0 00.2-.2V7.486a.2.2 0 00-.2-.2zM4.8 13.571H1.2a.2.2 0 00-.2.2V16.8c0 .11.09.2.2.2h3.6a.2.2 0 00.2-.2v-3.029a.2.2 0 00-.2-.2zM16.8 13.571H8.2a.2.2 0 00-.2.2V16.8c0 .11.09.2.2.2h8.6a.2.2 0 00.2-.2v-3.029a.2.2 0 00-.2-.2z"/>
										</svg>
									</button>
									{% if us_setting_pages.status_price_list_view is defined and us_setting_pages.status_price_list_view == 1 %}
										<button aria-label="Price View" type="button" id="price-view" class="btn btn-view visible-lg {% if display_view == 'price' %}active{% endif %}" data-toggle="tooltip" title="{{ button_price }}">
											<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18">
												<path stroke="currentColor" stroke-width="1.5" d="M16.8 1H1.2a.2.2 0 00-.2.2v3.029c0 .11.09.2.2.2h15.6a.2.2 0 00.2-.2V1.2a.2.2 0 00-.2-.2zM16.8 7.286H1.2a.2.2 0 00-.2.2v3.028c0 .11.09.2.2.2h15.6a.2.2 0 00.2-.2V7.486a.2.2 0 00-.2-.2zM1 16.8v-3.029c0-.11.09-.2.2-.2h15.6c.11 0 .2.09.2.2V16.8a.2.2 0 01-.2.2H1.2a.2.2 0 01-.2-.2z"/>
											</svg>
										</button>
									{% endif %}
									<div class="indicator-active"></div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			{% endif %}
			<div class="row-flex category-page {% if not bg_image %} no_bg_image{% endif %}">
				{% for product in products %}
					<div class="product-layout product-{{ display_view }} {{ cols_class }}">
						<div class="product-thumb dflex flex-column h-100{% if bg_image %} bg_image{% endif %}">
							<div class="image">
								<div class="stickers-ns">
									{% if ((on_off_sticker_special == '1') and product.special) %}
										<div class="sticker-ns special">
											{% if (config_change_icon_sticker_special is not empty) %}<i class="fa {{ config_change_icon_sticker_special }} "></i>{% endif %}
											{{ text_sticker_special[lang_id].config_change_text_sticker_special }}
										</div>
									{% endif %}
									{% if ((on_off_percent_discount == '1') and product['special']) %}<span class="sticker-ns special">{{ product['skidka'] }} %</span>{% endif %}
									{% if ((on_off_sticker_topbestseller == '1') and (product.top_bestsellers >= config_limit_order_product_topbestseller)) %}
										<div class="sticker-ns bestseller">
											{% if (config_change_icon_sticker_topbestseller is not empty) %}<i class="fa {{ config_change_icon_sticker_topbestseller }} "></i>{% endif %}
											{{ text_sticker_topbestseller[lang_id].config_change_text_sticker_topbestseller }}
										</div>
									{% endif %}
									{% if ((on_off_sticker_popular == '1') and (product.viewed>=config_min_quantity_popular)) %}
										<div class="sticker-ns popular">
											{% if (config_change_icon_sticker_popular is not empty) %}<i class="fa {{ config_change_icon_sticker_popular }} "></i>{% endif %}
											{{ text_sticker_popular[lang_id].config_change_text_sticker_popular }}
										</div>
									{% endif %}
									{% if ((on_off_sticker_newproduct == '1') and product.sticker_new_prod ) %}
										<div class="sticker-ns newproduct">
											{% if (config_change_icon_sticker_newproduct is not empty) %}<i class="fa {{ config_change_icon_sticker_newproduct }}"></i>{% endif %}
											{{ text_sticker_newproduct[lang_id].config_change_text_sticker_newproduct }}
										</div>
									{% endif %}
								</div>
								{% if product.pro_sticker is defined and product.pro_sticker.status and product.pro_sticker.items is not empty %}
									<div class="pro_sticker {% if product.pro_sticker.hide_hover %}hide-hover{% endif %}">
										{% if product.pro_sticker.items is not empty %}
											{% for position, stickers in product.pro_sticker.items %}
												<div class="pro_sticker__position {{ position }}">
													{% for sticker in stickers %}
														<div class="pro_sticker__item pro_sticker__{{ sticker.type }}">
															{% if sticker.type == 'image' %}
																<img loading="lazy" decoding="async" width="{{ sticker.width }}" height="{{ sticker.height }}" class="img-responsive" src="{{ sticker.image }}" alt="">
															{% else %}
																<span style="color:#{{ sticker.color }};background:#{{ sticker.bg }}">{{ sticker.text }}</span>
															{% endif %}
														</div>
													{% endfor %}
												</div>
											{% endfor %}
										{% endif %}
									</div>
								{% endif %}
								<a {% if product.image_hm is not empty %}class="gallery-images"{% endif %} href="{{ product.href }}">
									<img class="img-responsive{% if product.image_hm is not empty %} ch-g-image active-image{% endif %}" {% if product.image_h %}data-additional-hover="{{ product.image_h }}"{% endif %} decoding="async" width="{{ product.width }}" height="{{ product.height }}" loading="lazy" src="{{ product.thumb }}" alt="{{ product.name }}" />
									{% if product.image_hm is not empty %}
										<div class="ch-g-items">
											{% for dop_image in product.image_hm %}
												<img class="ch-g-image img-responsive" decoding="async" width="{{ product.width }}" height="{{ product.height }}" loading="lazy" data-src="{{ dop_image }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="{{ product.name }}" />
											{% endfor %}
										</div>
										<div class="ch-g-dots">
											<div class="ch-g-line active-line"></div>
											{% for dop_image in product.image_hm %}
												<div class="ch-g-line"></div>
											{% endfor %}
										</div>
									{% endif %}
								</a>
								{% if (show_special_timer_page == '1' and product.special) %}
									<div class="action-timer" data-date-end="{{ product.date_end }}"></div>
								{% endif %}
								<div class="addit-action">
									{% if config_on_off_manufacturer_page_quickview == '1' %}
										<div class="quickview">
											<button aria-label="Quickview" class="btn btn-quickview" title="{{ config_quickview_btn_name[lang_id]['config_quickview_btn_name'] }}" onclick="quickview_open({{ product.product_id }});">
												<i class="up-icon-quickview" aria-hidden="true"></i>
											</button>
										</div>
									{% endif %}
									{% if us_setting_pages.status_fastorder is defined and us_setting_pages.status_fastorder == 1 and product['show_buy_button'] %}
										{% if (not disable_fastorder_button and (product.product_quantity <= 0 or product.product_quantity > 0)) or (disable_fastorder_button and product.product_quantity > 0) %}
											<div class="quick-order">
												<button aria-label="Fastorder" class="btn btn-fastorder" title="{{ config_text_open_form_send_order[lang_id]['config_text_open_form_send_order'] }}" type="button" onclick="fastorder_open({{ product.product_id }});" {% if (product.product_quantity <= 0 and disable_fastorder_button) %}disabled{% endif %}>
													<i class="up-icon-fastorder" aria-hidden="true"></i>
												</button>
											</div>
										{% endif %}
									{% endif %}
									{% if us_setting_pages.status_compare is defined and us_setting_pages.status_compare == 1 %}
										<div class="compare">
											<button aria-label="Compare" class="btn btn-compare" type="button" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');">
												<i class="up-icon-compare" aria-hidden="true"></i>
											</button>
										</div>
									{% endif %}
									{% if us_setting_pages.status_wishlist is defined and us_setting_pages.status_wishlist == 1 %}
										<div class="wishlist">
											<button aria-label="Wishlist" class="btn btn-wishlist" type="button" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
												<i class="up-icon-wishlist" aria-hidden="true"></i>
											</button>
										</div>
									{% endif %}
								</div>
							</div>
							<div class="caption dflex flex-column flex-grow-1">
								<div class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></div>
								{% if product.pro_sticker and product.pro_sticker.status and product.pro_sticker.block is not empty %}
									<div class="pro_sticker_block">
										{% for sticker in product.pro_sticker.block %}
											<div class="pro_sticker_block__item pro_sticker_block__{{ sticker.type }}{% if sticker.popover %} pro_sticker_popover{% endif %}"
											{% if sticker.popover %}data-toggle="popover" data-content="{{ sticker.popover }}"{% endif %}>
												{% if sticker.type == 'image' %}
													<img loading="lazy" decoding="async" width="{{ sticker.width }}" height="{{ sticker.height }}" class="img-responsive" src="{{ sticker.image }}" alt="">
												{% else %}
													<span style="color:#{{ sticker.color }};background:#{{ sticker.bg }}">{{ sticker.text }}</span>
												{% endif %}
											</div>
										{% endfor %}
									</div>
								{% endif %}
								{% if us_setting_pages.status_rating is defined and us_setting_pages.status_rating == 1 %}
									<div class="rating mb-10 d-flex align-items-center">
										<div class="rating-stars d-flex align-items-center">
											{% for star_width in product.rating_stars %}
												<div class="rating-star up-icon">
													<div class="rating-star-active up-icon" style="width:{{ star_width }}%"></div>
												</div>
											{% endfor %}
										</div>
										{% if us_setting_pages.status_quantity_reviews is defined and us_setting_pages.status_quantity_reviews == 1 %}
											<div class="product-reviews d-flex align-items-center">
												<i class="up-icon-18 up-icon-message" aria-hidden="true"></i>
												{% if product.reviews > 0 %}
													<span class="total-reviews d-flex align-items-center justify-content-center">{{ product.reviews }}</span>
												{% endif %}
											</div>
										{% endif %}
									</div>
								{% endif %}
								{% if us_setting_pages.status_model is defined and us_setting_pages.status_model == 1 or show_stock_status %}
									<div class="product_model_sstatus mb-10 justify-content-between dflex">
										{% if us_setting_pages.status_model is defined and us_setting_pages.status_model == 1 %}
											<div class="product-model">{{ text_model }}{{ product.model }}</div>
										{% endif %}
										{% if show_stock_status %}
											{% if product.product_quantity <= 0 %}
												<div class="stock-status outofstock">{{ product.stock_status }}</div>
											{% else %}
												<div class="stock-status up-icon instock">
													{{ text_instock }}
												</div>
											{% endif %}
										{% endif %}
									</div>
								{% endif %}
								{% if us_setting_pages.status_description is defined and us_setting_pages.status_description == 1 %}
									<div class="product-description">{{ product.description }}</div>
								{% endif %}
								<div class="price-actions-box dflex flex-wrap mt-auto">
									{% if (product.price) %}
										{% if (config_additional_settings_upstore.quantity_btn_page is defined and (config_additional_settings_upstore.quantity_btn_page == '1') and product['show_buy_button']) %}
											<div class="quantity_plus_minus">
												<span class="add-up add-action">
													<svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5">
														<path fill="#000" fill-rule="evenodd" d="M3.826 2.144a.5.5 0 00-.707.004L.856 4.438a.5.5 0 01-.712-.704l2.264-2.289a1.5 1.5 0 012.121-.012L6.852 3.73a.5.5 0 11-.704.711L3.826 2.144z" clip-rule="evenodd"/>
													</svg>
												</span>
												<input type="text" class="quantity-num form-control" name="quantity" value="{{ product.minimum }}" data-minimum="{{ product.minimum }}"  {% if (config_additional_settings_upstore.quantity_multiple is defined and (config_additional_settings_upstore.quantity_multiple == '1') and product.minimum > 1) %}disabled{% endif %}>
												<span class="add-down add-action">
													<svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5">
														<path fill="#000" fill-rule="evenodd" d="M3.174 2.856a.5.5 0 00.707-.004L6.144.562a.5.5 0 01.712.704L4.592 3.555a1.5 1.5 0 01-2.121.012L.148 1.27A.5.5 0 11.852.559l2.322 2.297z" clip-rule="evenodd"/>
													</svg>
												</span>
											</div>
										{% endif %}
										<div class="price" data-price-value="{{ product.price_value }}" data-special-value="{{ product.special_value }}">
											{% if (not product['special']) %}
												<span class="price_value">{{ product['price'] }}</span>
											{% else %}
												<span class="price-old"><span class="price_value">{{ product['price'] }}</span></span>
												<span class="price-new"><span class="special_value">{{ product['special'] }}</span></span>
											{% endif %}
											{% if (product['tax']) %}
												<span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
											{% endif %}
										</div>
									{% endif %}
									<div class="cart">
										{% if (product['show_buy_button']) %}
											<button aria-label="Add to cart" class="btn btn-general {{ ch_type_btn }} {% if product.in_cart %} is-active{% endif %}" type="button" {% if ((product.product_quantity <= 0) and disable_cart_button) %}disabled{% else %}onclick="cart.add('{{ product.product_id }}',this)"{% endif %}><i class="up-icon-22 up-icon-cart" aria-hidden="true"></i><span class="text-cart-add">{% if (change_text_cart_button_out_of_stock == 1 and product.product_quantity <= 0) %}{{ disable_cart_button_text }}{% else %}{% if product.in_cart %}{{ text_in_cart }}{% else %}{{ button_cart }}{% endif %}{% endif %}</span></button>
										{% else %}
											<button aria-label="notify stock" class="btn btn-general {{ ch_type_btn }}{% if product.in_waitlist %} is-active{% endif %}" type="button" onclick="upstoreNotifyStock('{{ product['product_id'] }}');"><i class="up-icon-22 up-icon-notify" aria-hidden="true"></i><span class="text-cart-add">{{ button_notify_stock }}</span></button>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="row{% if us_setting_pages.status_showmore is defined and us_setting_pages.status_showmore == 1 %} showmore_on{% endif %}">
				<div class="col-sm-12 text-center showmore-paginatation d-flex align-items-center justify-content-between">{{ pagination }}</div>
			</div>
		{% else %}
			<p>{{ text_empty }}</p>
			<div class="buttons">
				<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
			</div>
		{% endif %}
		{% if (description is defined) %}
			<div class="row">
				{% if (thumb) %}
					<div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
				{% endif %}
				{% if (description) %}
					<div class="col-sm-10">{{ description }}</div>
				{% endif %}
			</div>
			<hr>
		{% endif %}
	  {{ content_bottom }}</div>
	{{ column_right }}</div>
</div>
{{ footer }}