{{ header }}
<div class="container">
	<div class="col-sm-12 content-box-cs">
		<div class="breadcrumb-box">
			<ul class="breadcrumb">
				{% for i,breadcrumb in breadcrumbs %}
					{% if (i+1 < breadcrumbs|length) %}
						<li><a href="{{ breadcrumb['href'] }}"><span>{{ breadcrumb['text'] }}</span></a></li>
					{% else %}
						<li><span>{{ breadcrumb['text'] }}</span></li>
					{% endif %}

				{% endfor %}
			</ul>
		</div>
		<div class="row">
			{{ column_left }}
			{% if (column_left and column_right) %}
			{% set class = 'col-sm-8 col-md-6' %}
			{% set cols_class = 'col-lg-6 col-md-6 col-sm-12 col-xs-12' %}
			{% elseif (column_left or column_right) %}
			{% set class = 'col-sm-8 col-md-9' %}
			{% set cols_class = 'col-lg-4 col-md-4 col-sm-6 col-xs-12' %}
			{% else %}
			{% set class = 'col-sm-12' %}
			{% set cols_class = 'col-lg-3 col-md-3 col-sm-6 col-xs-12' %}
			{% endif %}
			<div id="content" class="{{ class }}">
				<h1>{{ heading_title }}</h1>
				{{ content_top }}
				<div class="row-flex rating-info-box">
					<div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
						<div class="reviews-block f-box dflex">
							<div class="average-reviews">
								<div class="average-reviews__top">
									<div class="average-rating__rating">{{ rating_store }}</div>
									<div class="average-reviews__content">
										<i class="up-icon-18 up-icon-message" aria-hidden="true"></i>
										<span class="average-reviews__totals">{{ totals_reviews }}</span>
									</div>
								</div>
								<div class="btn-block-rs">
									{% if review_guest %}
										<button class="chm-btn chm-btn-black chm-px-lg chm-lg chm-lg-rounded xs-w-100" type="button" onclick="popupFormReviewStore()">{{ btn_write_review }}</button>
									{% else %}
										{{ text_review_guest }}
									{% endif %}
								</div>
							</div>
							<div class="rating-summary">
								<div class="rating-summary__item">
									<div class="rating-summary__icon bg-icon-start-1">
										<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" viewBox="0 0 14 14">
											<path fill="#fff" fill-rule="evenodd" d="M8.331 3.87 7.27 1.766A29.781 29.781 0 0 0 7 1.24c-.071.134-.157.304-.27.526L5.67 3.87l-.023.046a2.569 2.569 0 0 1-.368.583c-.154.172-.34.314-.55.417-.233.116-.487.16-.663.191l-.049.01-2.242.405a20.34 20.34 0 0 0-.64.122c.108.126.258.29.476.524l1.586 1.706.035.037c.125.134.298.319.417.546.107.203.175.423.203.65.03.25-.005.5-.031.685l-.007.052-.324 2.355c-.04.29-.069.5-.086.665.132-.065.298-.15.518-.263l2.042-1.05c.014-.007.03-.014.045-.023a2.45 2.45 0 0 1 .644-.252c.23-.046.466-.046.696 0 .256.05.486.17.644.252l.045.024 2.042 1.05c.22.112.386.197.518.261a23.79 23.79 0 0 0-.086-.664l-.324-2.355a28.482 28.482 0 0 0-.007-.052c-.026-.185-.061-.434-.03-.686.027-.226.095-.446.201-.65.12-.226.293-.41.418-.545l.035-.037 1.586-1.706c.218-.235.368-.398.477-.524-.153-.033-.355-.07-.64-.122l-2.243-.406a11.268 11.268 0 0 0-.05-.009 2.416 2.416 0 0 1-.663-.19 1.829 1.829 0 0 1-.55-.418 2.598 2.598 0 0 1-.367-.583l-.023-.046Zm2.603 9.135h-.002Zm-7.868 0h.002ZM6.644.085c-.247.122-.433.492-.806 1.23L4.776 3.42c-.11.216-.164.325-.24.41a.829.829 0 0 1-.25.19c-.101.05-.217.07-.448.112l-2.242.406c-.787.142-1.18.213-1.37.421a.89.89 0 0 0-.219.707c.036.284.314.584.87 1.182l1.587 1.707c.163.176.245.264.299.366.05.095.082.199.095.306.014.117-.003.238-.036.48l-.324 2.356c-.114.826-.17 1.24-.04 1.491a.83.83 0 0 0 .576.437c.27.053.627-.132 1.344-.5l2.042-1.05c.21-.108.316-.162.426-.184a.793.793 0 0 1 .308 0c.11.022.215.076.426.184l2.042 1.05c.717.368 1.075.553 1.344.5a.83.83 0 0 0 .576-.437c.13-.252.074-.665-.04-1.491l-.324-2.355c-.033-.243-.05-.364-.036-.48a.893.893 0 0 1 .095-.307c.054-.102.136-.19.3-.366l1.585-1.707c.557-.598.835-.898.87-1.182a.889.889 0 0 0-.219-.707c-.188-.208-.582-.279-1.369-.421l-2.242-.406c-.231-.042-.347-.063-.448-.113a.829.829 0 0 1-.25-.189c-.076-.085-.13-.194-.24-.41L8.162 1.315C7.789.577 7.602.207 7.356.085a.794.794 0 0 0-.712 0Z" clip-rule="evenodd"/>
										</svg>
									</div>
									<div class="rating-summary__content">
										<div class="rating-summary__star">1</div>
										<div class="rating-summary__percent">{{ percent_rating['star1'] }}%</div>
									</div>
								</div>
								<div class="rating-summary__item">
									<div class="rating-summary__icon bg-icon-start-2">
										<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" viewBox="0 0 14 14">
											<path fill="#fff" fill-rule="evenodd" d="M8.331 3.87 7.27 1.766A29.781 29.781 0 0 0 7 1.24c-.071.134-.157.304-.27.526L5.67 3.87l-.023.046a2.569 2.569 0 0 1-.368.583c-.154.172-.34.314-.55.417-.233.116-.487.16-.663.191l-.049.01-2.242.405a20.34 20.34 0 0 0-.64.122c.108.126.258.29.476.524l1.586 1.706.035.037c.125.134.298.319.417.546.107.203.175.423.203.65.03.25-.005.5-.031.685l-.007.052-.324 2.355c-.04.29-.069.5-.086.665.132-.065.298-.15.518-.263l2.042-1.05c.014-.007.03-.014.045-.023a2.45 2.45 0 0 1 .644-.252c.23-.046.466-.046.696 0 .256.05.486.17.644.252l.045.024 2.042 1.05c.22.112.386.197.518.261a23.79 23.79 0 0 0-.086-.664l-.324-2.355a28.482 28.482 0 0 0-.007-.052c-.026-.185-.061-.434-.03-.686.027-.226.095-.446.201-.65.12-.226.293-.41.418-.545l.035-.037 1.586-1.706c.218-.235.368-.398.477-.524-.153-.033-.355-.07-.64-.122l-2.243-.406a11.268 11.268 0 0 0-.05-.009 2.416 2.416 0 0 1-.663-.19 1.829 1.829 0 0 1-.55-.418 2.598 2.598 0 0 1-.367-.583l-.023-.046Zm2.603 9.135h-.002Zm-7.868 0h.002ZM6.644.085c-.247.122-.433.492-.806 1.23L4.776 3.42c-.11.216-.164.325-.24.41a.829.829 0 0 1-.25.19c-.101.05-.217.07-.448.112l-2.242.406c-.787.142-1.18.213-1.37.421a.89.89 0 0 0-.219.707c.036.284.314.584.87 1.182l1.587 1.707c.163.176.245.264.299.366.05.095.082.199.095.306.014.117-.003.238-.036.48l-.324 2.356c-.114.826-.17 1.24-.04 1.491a.83.83 0 0 0 .576.437c.27.053.627-.132 1.344-.5l2.042-1.05c.21-.108.316-.162.426-.184a.793.793 0 0 1 .308 0c.11.022.215.076.426.184l2.042 1.05c.717.368 1.075.553 1.344.5a.83.83 0 0 0 .576-.437c.13-.252.074-.665-.04-1.491l-.324-2.355c-.033-.243-.05-.364-.036-.48a.893.893 0 0 1 .095-.307c.054-.102.136-.19.3-.366l1.585-1.707c.557-.598.835-.898.87-1.182a.889.889 0 0 0-.219-.707c-.188-.208-.582-.279-1.369-.421l-2.242-.406c-.231-.042-.347-.063-.448-.113a.829.829 0 0 1-.25-.189c-.076-.085-.13-.194-.24-.41L8.162 1.315C7.789.577 7.602.207 7.356.085a.794.794 0 0 0-.712 0Z" clip-rule="evenodd"/>
										</svg>
									</div>
									<div class="rating-summary__content">
										<div class="rating-summary__star">2</div>
										<div class="rating-summary__percent">{{ percent_rating['star2'] }}%</div>
									</div>
								</div>
								<div class="rating-summary__item">
									<div class="rating-summary__icon bg-icon-start-3">
										<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" viewBox="0 0 14 14">
											<path fill="#fff" fill-rule="evenodd" d="M8.331 3.87 7.27 1.766A29.781 29.781 0 0 0 7 1.24c-.071.134-.157.304-.27.526L5.67 3.87l-.023.046a2.569 2.569 0 0 1-.368.583c-.154.172-.34.314-.55.417-.233.116-.487.16-.663.191l-.049.01-2.242.405a20.34 20.34 0 0 0-.64.122c.108.126.258.29.476.524l1.586 1.706.035.037c.125.134.298.319.417.546.107.203.175.423.203.65.03.25-.005.5-.031.685l-.007.052-.324 2.355c-.04.29-.069.5-.086.665.132-.065.298-.15.518-.263l2.042-1.05c.014-.007.03-.014.045-.023a2.45 2.45 0 0 1 .644-.252c.23-.046.466-.046.696 0 .256.05.486.17.644.252l.045.024 2.042 1.05c.22.112.386.197.518.261a23.79 23.79 0 0 0-.086-.664l-.324-2.355a28.482 28.482 0 0 0-.007-.052c-.026-.185-.061-.434-.03-.686.027-.226.095-.446.201-.65.12-.226.293-.41.418-.545l.035-.037 1.586-1.706c.218-.235.368-.398.477-.524-.153-.033-.355-.07-.64-.122l-2.243-.406a11.268 11.268 0 0 0-.05-.009 2.416 2.416 0 0 1-.663-.19 1.829 1.829 0 0 1-.55-.418 2.598 2.598 0 0 1-.367-.583l-.023-.046Zm2.603 9.135h-.002Zm-7.868 0h.002ZM6.644.085c-.247.122-.433.492-.806 1.23L4.776 3.42c-.11.216-.164.325-.24.41a.829.829 0 0 1-.25.19c-.101.05-.217.07-.448.112l-2.242.406c-.787.142-1.18.213-1.37.421a.89.89 0 0 0-.219.707c.036.284.314.584.87 1.182l1.587 1.707c.163.176.245.264.299.366.05.095.082.199.095.306.014.117-.003.238-.036.48l-.324 2.356c-.114.826-.17 1.24-.04 1.491a.83.83 0 0 0 .576.437c.27.053.627-.132 1.344-.5l2.042-1.05c.21-.108.316-.162.426-.184a.793.793 0 0 1 .308 0c.11.022.215.076.426.184l2.042 1.05c.717.368 1.075.553 1.344.5a.83.83 0 0 0 .576-.437c.13-.252.074-.665-.04-1.491l-.324-2.355c-.033-.243-.05-.364-.036-.48a.893.893 0 0 1 .095-.307c.054-.102.136-.19.3-.366l1.585-1.707c.557-.598.835-.898.87-1.182a.889.889 0 0 0-.219-.707c-.188-.208-.582-.279-1.369-.421l-2.242-.406c-.231-.042-.347-.063-.448-.113a.829.829 0 0 1-.25-.189c-.076-.085-.13-.194-.24-.41L8.162 1.315C7.789.577 7.602.207 7.356.085a.794.794 0 0 0-.712 0Z" clip-rule="evenodd"/>
										</svg>
									</div>
									<div class="rating-summary__content">
										<div class="rating-summary__star">3</div>
										<div class="rating-summary__percent">{{ percent_rating['star3'] }}%</div>
									</div>
								</div>
								<div class="rating-summary__item">
									<div class="rating-summary__icon bg-icon-start-4">
										<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" viewBox="0 0 14 14">
											<path fill="#fff" fill-rule="evenodd" d="M8.331 3.87 7.27 1.766A29.781 29.781 0 0 0 7 1.24c-.071.134-.157.304-.27.526L5.67 3.87l-.023.046a2.569 2.569 0 0 1-.368.583c-.154.172-.34.314-.55.417-.233.116-.487.16-.663.191l-.049.01-2.242.405a20.34 20.34 0 0 0-.64.122c.108.126.258.29.476.524l1.586 1.706.035.037c.125.134.298.319.417.546.107.203.175.423.203.65.03.25-.005.5-.031.685l-.007.052-.324 2.355c-.04.29-.069.5-.086.665.132-.065.298-.15.518-.263l2.042-1.05c.014-.007.03-.014.045-.023a2.45 2.45 0 0 1 .644-.252c.23-.046.466-.046.696 0 .256.05.486.17.644.252l.045.024 2.042 1.05c.22.112.386.197.518.261a23.79 23.79 0 0 0-.086-.664l-.324-2.355a28.482 28.482 0 0 0-.007-.052c-.026-.185-.061-.434-.03-.686.027-.226.095-.446.201-.65.12-.226.293-.41.418-.545l.035-.037 1.586-1.706c.218-.235.368-.398.477-.524-.153-.033-.355-.07-.64-.122l-2.243-.406a11.268 11.268 0 0 0-.05-.009 2.416 2.416 0 0 1-.663-.19 1.829 1.829 0 0 1-.55-.418 2.598 2.598 0 0 1-.367-.583l-.023-.046Zm2.603 9.135h-.002Zm-7.868 0h.002ZM6.644.085c-.247.122-.433.492-.806 1.23L4.776 3.42c-.11.216-.164.325-.24.41a.829.829 0 0 1-.25.19c-.101.05-.217.07-.448.112l-2.242.406c-.787.142-1.18.213-1.37.421a.89.89 0 0 0-.219.707c.036.284.314.584.87 1.182l1.587 1.707c.163.176.245.264.299.366.05.095.082.199.095.306.014.117-.003.238-.036.48l-.324 2.356c-.114.826-.17 1.24-.04 1.491a.83.83 0 0 0 .576.437c.27.053.627-.132 1.344-.5l2.042-1.05c.21-.108.316-.162.426-.184a.793.793 0 0 1 .308 0c.11.022.215.076.426.184l2.042 1.05c.717.368 1.075.553 1.344.5a.83.83 0 0 0 .576-.437c.13-.252.074-.665-.04-1.491l-.324-2.355c-.033-.243-.05-.364-.036-.48a.893.893 0 0 1 .095-.307c.054-.102.136-.19.3-.366l1.585-1.707c.557-.598.835-.898.87-1.182a.889.889 0 0 0-.219-.707c-.188-.208-.582-.279-1.369-.421l-2.242-.406c-.231-.042-.347-.063-.448-.113a.829.829 0 0 1-.25-.189c-.076-.085-.13-.194-.24-.41L8.162 1.315C7.789.577 7.602.207 7.356.085a.794.794 0 0 0-.712 0Z" clip-rule="evenodd"/>
										</svg>
									</div>
									<div class="rating-summary__content">
										<div class="rating-summary__star">4</div>
										<div class="rating-summary__percent">{{ percent_rating['star4'] }}%</div>
									</div>
								</div>
								<div class="rating-summary__item">
									<div class="rating-summary__icon bg-icon-start-5">
										<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" viewBox="0 0 14 14">
											<path fill="#fff" fill-rule="evenodd" d="M8.331 3.87 7.27 1.766A29.781 29.781 0 0 0 7 1.24c-.071.134-.157.304-.27.526L5.67 3.87l-.023.046a2.569 2.569 0 0 1-.368.583c-.154.172-.34.314-.55.417-.233.116-.487.16-.663.191l-.049.01-2.242.405a20.34 20.34 0 0 0-.64.122c.108.126.258.29.476.524l1.586 1.706.035.037c.125.134.298.319.417.546.107.203.175.423.203.65.03.25-.005.5-.031.685l-.007.052-.324 2.355c-.04.29-.069.5-.086.665.132-.065.298-.15.518-.263l2.042-1.05c.014-.007.03-.014.045-.023a2.45 2.45 0 0 1 .644-.252c.23-.046.466-.046.696 0 .256.05.486.17.644.252l.045.024 2.042 1.05c.22.112.386.197.518.261a23.79 23.79 0 0 0-.086-.664l-.324-2.355a28.482 28.482 0 0 0-.007-.052c-.026-.185-.061-.434-.03-.686.027-.226.095-.446.201-.65.12-.226.293-.41.418-.545l.035-.037 1.586-1.706c.218-.235.368-.398.477-.524-.153-.033-.355-.07-.64-.122l-2.243-.406a11.268 11.268 0 0 0-.05-.009 2.416 2.416 0 0 1-.663-.19 1.829 1.829 0 0 1-.55-.418 2.598 2.598 0 0 1-.367-.583l-.023-.046Zm2.603 9.135h-.002Zm-7.868 0h.002ZM6.644.085c-.247.122-.433.492-.806 1.23L4.776 3.42c-.11.216-.164.325-.24.41a.829.829 0 0 1-.25.19c-.101.05-.217.07-.448.112l-2.242.406c-.787.142-1.18.213-1.37.421a.89.89 0 0 0-.219.707c.036.284.314.584.87 1.182l1.587 1.707c.163.176.245.264.299.366.05.095.082.199.095.306.014.117-.003.238-.036.48l-.324 2.356c-.114.826-.17 1.24-.04 1.491a.83.83 0 0 0 .576.437c.27.053.627-.132 1.344-.5l2.042-1.05c.21-.108.316-.162.426-.184a.793.793 0 0 1 .308 0c.11.022.215.076.426.184l2.042 1.05c.717.368 1.075.553 1.344.5a.83.83 0 0 0 .576-.437c.13-.252.074-.665-.04-1.491l-.324-2.355c-.033-.243-.05-.364-.036-.48a.893.893 0 0 1 .095-.307c.054-.102.136-.19.3-.366l1.585-1.707c.557-.598.835-.898.87-1.182a.889.889 0 0 0-.219-.707c-.188-.208-.582-.279-1.369-.421l-2.242-.406c-.231-.042-.347-.063-.448-.113a.829.829 0 0 1-.25-.189c-.076-.085-.13-.194-.24-.41L8.162 1.315C7.789.577 7.602.207 7.356.085a.794.794 0 0 0-.712 0Z" clip-rule="evenodd"/>
										</svg>
									</div>
									<div class="rating-summary__content">
										<div class="rating-summary__star">5</div>
										<div class="rating-summary__percent">{{ percent_rating['star5'] }}%</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
						<div class="reviews-block s-box">
							<div class="reviews_theme">
								{% for result_info in reviews_theme_rating %}
									<div class="reviews_theme__item">
										<span class="reviews_theme__text">{{ result_info.theme_text }}</span>
										<div class="reviews_theme__stars">
											{% for star_width in result_info.stars %}
												<div class="reviews_theme__star up-icon">
													<div class="reviews_theme__star-active up-icon" style="width:{{ star_width }}%"></div>
												</div>
											{% endfor %}
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				{% if reviews_store %}
					<div class="row">
						<div class="col-sm-12">
							<div class="category-page store-reviews">
								{% for review_store in reviews_store %}
									<div id="review_store_box_{{ review_store.reviews_store_id }}">
										<div class="store-reviews__item d-flex">
											<div class="store-reviews__content d-flex flex-column">
												<div class="store-reviews__header d-flex">
													<div class="store-reviews__letter">{{ review_store.first_letter }}</div>
													<div class="d-flex flex-column">
														<div class="store-reviews__author">{{ review_store.author }}</div>
														<div class="store-reviews__stars d-flex">
															{% for rs_star_width in review_store.stars %}
																<div class="reviews_theme__star up-icon">
																	<div class="reviews_theme__star-active up-icon" style="width:{{ rs_star_width }}%"></div>
																</div>
															{% endfor %}
														</div>
													</div>
												</div>
												<div class="store-reviews__description">{{ review_store.description }}</div>
												<div class="store-reviews__footer d-flex">
													<div class="store-reviews__date">
														<svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" fill="none" viewBox="0 0 19 20">
															<path fill="#C5C5C5" fill-rule="evenodd" d="M5.506.25a.75.75 0 0 1 .75.75v1.05h5.873V1a.75.75 0 0 1 1.5 0v1.05h.157a4.35 4.35 0 0 1 4.35 4.35v9a4.35 4.35 0 0 1-4.35 4.35H4.6A4.35 4.35 0 0 1 .25 15.4v-9A4.35 4.35 0 0 1 4.6 2.05h.156V1a.75.75 0 0 1 .75-.75Zm-.75 3.3H4.6A2.85 2.85 0 0 0 1.75 6.4v1.05h14.886V6.4a2.85 2.85 0 0 0-2.85-2.85h-.156V4.6a.75.75 0 0 1-1.5 0V3.55H6.256V4.6a.75.75 0 0 1-1.5 0V3.55Zm11.88 5.4H1.75v6.45a2.85 2.85 0 0 0 2.85 2.85h9.186a2.85 2.85 0 0 0 2.85-2.85V8.95ZM4.3 12.25a.75.75 0 0 1 .75-.75h.9a.75.75 0 0 1 0 1.5h-.9a.75.75 0 0 1-.75-.75Zm3.6 0a.75.75 0 0 1 .75-.75h.9a.75.75 0 0 1 0 1.5h-.9a.75.75 0 0 1-.75-.75Zm3.6 0a.75.75 0 0 1 .75-.75h.9a.75.75 0 0 1 0 1.5h-.9a.75.75 0 0 1-.75-.75Zm-7.2 2.7a.75.75 0 0 1 .75-.75h.9a.75.75 0 0 1 0 1.5h-.9a.75.75 0 0 1-.75-.75Zm3.6 0a.75.75 0 0 1 .75-.75h.9a.75.75 0 0 1 0 1.5h-.9a.75.75 0 0 1-.75-.75Zm3.6 0a.75.75 0 0 1 .75-.75h.9a.75.75 0 0 1 0 1.5h-.9a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd"/>
														</svg>
														{{ review_store.date_added }}
													</div>
													{% if reviews_store_setting.show_like_dislike == 1 %}
														<div class="like-dislike-box">
															<button type="button" onclick="likeDislike('{{ review_store.reviews_store_id }}','like')" id="like_reviews_store{{ review_store.reviews_store_id }}" class="btn-like like">
																<img src="catalog/view/theme/upstore/image/r-store/like-icon.svg" alt="like-icon.svg">
																<span class="likes">{{ review_store.like }}</span>
															</button>
															<button type="button" onclick="likeDislike('{{ review_store.reviews_store_id }}','dislike')" id="dislike_reviews_store{{ review_store.reviews_store_id }}" class="btn-dislike dislike">
																<img src="catalog/view/theme/upstore/image/r-store/dislike-icon.svg" alt="dislike-icon.svg">
																<span class="dislikes">{{ review_store.dislike }}</span>
															</button>
														</div>
													{% endif %}
												</div>
											</div>
										</div>
										{% if review_store.admin_response %}
											<div class="admin-response">{{ review_store.admin_response }}</div>
										{% endif %}
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="row top-10 showmore_on">
						<div class="col-sm-12 text-center showmore-paginatation d-flex align-items-center justify-content-between">{{ pagination }}</div>
					</div>
				{% endif %}
				{% if (not reviews_store) %}
					<p>{{ text_empty }}</p>
					<div class="buttons">
						<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
					</div>
				{% endif %}
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
{% if (reviews_store_setting['show_like_dislike'] is defined and (reviews_store_setting['show_like_dislike'] == 1)) %}
<script>
	function likeDislike(reviews_store_id,typebtn) {
			var like = 0, dislike = 0;
			var isActiveLike = localStorage.getItem('like_'+reviews_store_id) == 'enabled';
			var hasActiveLike = localStorage.getItem('like_'+reviews_store_id) == 'enabled';
			var hasActiveDislike = localStorage.getItem('dislike_'+reviews_store_id) == 'enabled';
			var isActiveDislike = localStorage.getItem('dislike_'+reviews_store_id) == 'enabled';

			if (typebtn === 'like') {
				if (isActiveLike) {
					localStorage.setItem('like_'+reviews_store_id, 'disabled');
					like = -1;
				} else {
					if (hasActiveLike) {
						localStorage.removeItem('like_'+reviews_store_id);
						dislike = -1;
					}
					if (hasActiveDislike) {
						localStorage.removeItem('dislike_'+reviews_store_id);
						dislike = -1;
					}
					localStorage.setItem('like_'+reviews_store_id, 'enabled');
					like = 1;
					value = 1;
				}
			} else {
				if (isActiveDislike) {
					localStorage.setItem('dislike_'+reviews_store_id, 'disabled');
					dislike = -1;
				} else {
					if(hasActiveLike){
						localStorage.removeItem('like_'+reviews_store_id);
						like = -1;
					}
					if(hasActiveDislike){
						localStorage.removeItem('dislike_'+reviews_store_id);
						like = -1;
					}
					localStorage.setItem('dislike_'+reviews_store_id, 'enabled');
					dislike = 1;
					value = -1;
				}
			}

			$.ajax({
				url: 'index.php?route=product/upstore_reviews_store/likeDislike',
				type: 'post',
				data: 'reviews_store_id='+ reviews_store_id + '&typebtn='+typebtn+'&like='+like+'&dislike='+dislike,
				dataType: 'json',
				success: function(json) {
					 $('#like_reviews_store'+reviews_store_id).find('.likes').text(json.like);
					 $('#dislike_reviews_store'+reviews_store_id).find('.dislikes').text(json.dislike);
				}
			});

	}
</script>
{% endif %}
</div>
{{ footer }}